@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  background-color: #ffffff;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;

    background: rgba(68, 0, 0, 0.82);
  }

  .rect2 {
    position: absolute;
    width: 472px;
    height: 472px;
    left: 1172px;
    top: 89px;

    background: #008a8a;
  }

  .rect3 {
    position: absolute;
    width: 472px;
    height: 472px;
    left: 1298px;
    top: 936px;

    background: #93168e;
  }

  .rect4 {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 708px;

    background: #260808;
  }

  .text1 {
    position: absolute;
    width: 712px;
    height: 1166px;
    left: 158px;
    top: 156px;

    font-family: 'New Rocker';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;

    color: #ff8514;

    -webkit-text-stroke: 1px #ff0000;
  }

  .video1 {
    position: absolute;
    width: 491px;
    height: 354px;
    left: 1047px;
    top: 148px;
  }

  .video2 {
    position: absolute;
    width: 491px;
    height: 354px;
    left: 1367px;
    top: 1013px;
  }
}
