@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1497px;
  }

  .text1 {
    position: absolute;
    width: 818px;
    height: 85px;
    left: 1027px;
    top: 42px;

    font-family: 'Barriecito';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 110%;
    /* or 55px */

    text-align: right;

    color: #ffffff;
  }

  .text2 {
    position: absolute;
    width: 818px;
    height: 428px;
    left: 1027px;
    top: 232px;

    font-family: '6809 Chargen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;
    /* or 28px */

    color: #ffffff;
  }

  .text3 {
    position: absolute;
    width: 818px;
    height: 116px;
    left: 1072px;
    top: 602px;

    font-family: '6809 Chargen';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */

    text-align: center;

    color: #ffffff;
  }

  .text4 {
    position: absolute;
    width: 818px;
    height: 116px;
    left: 1147px;
    top: 642px;

    font-family: '6809 Chargen';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */

    text-align: center;

    color: #ffffff;
  }

  .text5 {
    position: absolute;
    width: 818px;
    height: 116px;
    left: 1104px;
    top: 688px;

    font-family: '6809 Chargen';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */

    text-align: center;

    color: #ffffff;
  }

  .text6 {
    position: absolute;
    width: 818px;
    height: 116px;
    left: 1102px;
    top: 729px;

    font-family: '6809 Chargen';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */

    text-align: center;

    color: #ffffff;
  }

  .image1 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 1324px;
    top: 830px;
    border-radius: 50%;

    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .image2 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 1641px;
    top: 804px;
    border-radius: 50%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .image3 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 1097px;
    top: 1013px;
    border-radius: 50%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .image4 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 1520px;
    top: 1027px;
    border-radius: 50%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .image5 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 997px;
    top: 1258px;
    border-radius: 50%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .image6 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 1346px;
    top: 1228px;
    border-radius: 50%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .image7 {
    position: absolute;
    width: 187px;
    height: 187px;
    left: 1672px;
    top: 1280px;
    border-radius: 50%;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }
}
