@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #000000;

  .back {
    position: absolute;
    width: 1920px;
    height: 1497px;
    top: 0;
    left: 0;
  }

  .link1 {
    position: absolute;
    width: 596px;
    height: 146px;
    left: 50px;
    top: 32px;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: all ease 0.3s;
    }
  }

  .text1 {
    position: absolute;
    width: 718px;
    height: 1085px;
    left: 121px;
    top: 217px;

    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    text-overflow: visible;
    display: flex;
    align-items: center;

    background: linear-gradient(180deg, #ffea31 0%, #ff00c7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .text2 {
    position: absolute;
    width: 718px;
    height: 24px;
    left: 1022px;
    top: 130px;

    font-family: 'Bilbo Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;

    color: #faff00;
  }

  .text3 {
    position: absolute;
    width: 718px;
    height: 335px;

    font-family: 'Bilbo Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #faff00;
    top: 327px;
    left: 1137px;
  }

  .text4 {
    position: absolute;
    width: 718px;
    height: 745px;
    left: 1033px;
    top: 718px;

    font-family: 'Bilbo Swash Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;

    color: #faff00;
  }
}
