@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #ffffff;

  .imageBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 367px;
    height: 367px;
    left: -89px;
    top: -43px;
  }

  .text1 {
    position: absolute;
    width: 573px;
    height: 33px;
    left: 180px;
    top: 140px;

    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120.53%;
    color: #000000;
  }

  .text2 {
    position: absolute;
    width: 624px;
    height: 1133px;
    left: 180px;
    top: 185px;

    font-family: Courier New;
    font-size: 18px;
    line-height: 120.53%;
    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 288px;
    height: 22px;
    left: 465px;
    top: 1032px;

    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120.53%;
    /* identical to box height, or 22px */

    color: #000000;
  }
}
