@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;

  .image1 {
    position: absolute;
    width: 960px;
    height: 319.65px;
    left: -64px;
    top: -85px;
    overflow: hidden;

    img {
      height: 330px !important;
    }
  }

  .cc0Text1 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: -158px;
    top: 171px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
  }

  .cc0Text2 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 35px;
    top: 256px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    
    text-align: center;
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
  }

  .cc0Text3 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: -89.93px;
    top: 302px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 250px;
    line-height: 85px;
    
    text-align: center;
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(20deg);
  }

  .cc0Text4 {
    position: absolute;
    width: 375.71px;
    height: 85px;
    left: 21px;
    top: 1288.86px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 170px;
    line-height: 85px;
    text-align: center;
    
    color: #4E7FFF;
    
    -webkit-text-stroke: 4px #FFFFFF;
    transform: rotate(-30deg);
  }

  .cc0Text5 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 245px;
    top: 1111px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
  }

  .cc0Text6 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 76px;
    top: 1441px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    
    text-align: center;
    
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .cc0Text7 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: -120px;
    top: 1604px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    
    text-align: center;
    color: #4E7FFF;
    
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .cc0Text8 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 420px;
    top: 1423px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 250px;
    line-height: 85px;
    
    text-align: center;
    
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .cc0Text9 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 772px;
    top: 121px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;    
    text-align: center;
    
    color: #4E7FFF;
    
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .cc0Text10 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 1041.5px;
    top: -59px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    
    text-align: center;
    
    color: #4E7FFF;
    
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  .cc0Text11 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 1410.07px;
    top: -27px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 250px;
    line-height: 85px;
    text-align: center;
    
    color: #4E7FFF;
    
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(20deg);
  }

  .cc0Text12 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 1581.5px;
    top: 153px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 85px;
    
    text-align: center;
    color: #4E7FFF;
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  .cc0Text13 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 1816.67px;
    top: 1701.04px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 200px;
    line-height: 85px;
    text-align: center;
    
    color: #4E7FFF;
    
    -webkit-text-stroke: 4px #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-100deg);
  }

  .rect1 {
    position: absolute;
    width: 418px;
    height: 440px;
    left: 481px;
    top: 192px;
    
    background: rgba(0, 102, 255, 0.47);    
  }

  .rect2 {
    position: absolute;
    width: 836px;
    height: 386px;
    left: 63px;
    top: 664px;
    
    background: rgba(0, 102, 255, 0.47);
  }

  .rect3 {
    position: absolute;
    width: 624px;
    height: 386px;
    left: 1042px;
    top: 249px;
    
    background: rgba(0, 102, 255, 0.47);
  }

  .rect4 {
    position: absolute;
    width: 818px;
    height: 435px;
    left: 1042px;
    top: 651px;
    
    background: rgba(0, 102, 255, 0.47);
  }

  .rect5 {
    position: absolute;
    width: 624px;
    height: 351px;
    left: 1042px;
    top: 1101px;
    
    background: rgba(0, 102, 255, 0.47);
  }

  .text1 {
    position: absolute;
    width: 353px;
    height: 405px;
    left: 507px;
    top: 213px;
    
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
        
  }

  .text2 {
    position: absolute;
    width: 761px;
    height: 329px;
    left: 103px;
    top: 690px;
    
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 566px;
    height: 329px;
    left: 1082px;
    top: 267px;
    
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    
    color: #FFFFFF;
    
  }

  .text4 {
    position: absolute;
    width: 744px;
    height: 405px;
    left: 1082px;
    top: 674px;
    
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #FFFFFF;
    
  }

  .text5 {
    position: absolute;
    width: 549px;
    height: 334px;
    left: 1082px;
    top: 1118px;
    
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    
    color: #FFFFFF;
  }

  .button1 {
    position: absolute;
    width: 225px;
    height: 42px;
    left: 1042px;
    top: 189px;   
    
    background: #1EE4FF;
    border-radius: 17px;
    
    
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    -webkit-text-stroke: 1px #000000;

    &:hover {
      transform: scale(1.05);
    }
  }
}
