@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();


  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
    
    background: white;
  }

  .rect2 {
    position: absolute;
    width: 960px;
    height: 1504px;
    left: 960px;
    top: 0px;
    
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #28286E 96.87%);
  }

  .video1 {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: 21px;
    top: -369px;
  }

  .image1 {
    position: absolute;
    width: 262px;
    height: 1640px;
    left: -48px;
    top: -2px;
  }

  .text1 {
    position: absolute;
    width: 56px;
    height: 483px;
    left: 315px;
    top: 999px;

    font-family: 'THIS FONT IS EMPTY1';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */


    color: #9D6716;
    word-break: break-all;
    -webkit-text-stroke: 3px #9D6716;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
  }

  .text2 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: 389px;
    top: 1464px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 100%;
    color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  a {
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }
  }

  .image2 {
    position: absolute;
    width: 1415px;
    height: 814px;
    left: 505px;
    top: 683px;
  }

  .image3 {
    position: absolute;
    width: 360px;
    height: 66px;
    left: 1529px;
    top: 34px;    
  }


  .text3 {
    position: absolute;
    width: 906px;
    height: 660px;
    left: 987px;
    top: 122px;
    
    font-family: 'Knewave';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #000000;
  }

  .text4 {
    position: absolute;
    width: 452px;
    height: 270px;
    left: 1448px;
    top: 695px;
    
    font-family: 'Knewave';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #000000;
  }
}
