@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .rect1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    
    background: radial-gradient(108.32% 108.32% at 50% 50%, rgba(255, 255, 255, 0.79) 50%, rgba(0, 0, 0, 0.67) 100%);    
  }

  .image1 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 810px;
    top: 598px;        
  }

  .image2 {
    position: absolute;
    width: 308px;
    height: 308px;
    left: 1222px;
    top: 1144px;    
  }

  .image3 {
    position: absolute;
    width: 243px;
    height: 319px;
    left: 1552px;
    top: 1058px;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .text1 {
    position: absolute;
    width: 778px;
    height: 420px;
    left: 66px;
    top: 71px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;    
  }

  .text2 {
    position: absolute;
    width: 574px;
    height: 160px;
    left: 66px;
    top: 504px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 701px;
    height: 144px;
    left: 66px;
    top: 689px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    color: #000000;
  }

  .text4 {
    position: absolute;
    width: 701px;
    height: 544px;
    left: 66px;
    top: 881px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  .text5 {
    position: absolute;
    width: 574px;
    height: 85px;
    left: 673px;
    top: 556px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 85px;
    text-align: center;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
    
    color: #000000;
  }

  .text6 {
    position: absolute;
    width: 778px;
    height: 420px;
    left: 1056px;
    top: 71px;
    
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 275;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    
    color: #000000;

    span {
      font-weight: 500;
    }
  }

  .text7 {
    position: absolute;
    width: 537px;
    height: 177px;
    left: 1297px;
    top: 601px;
    
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 275;
    font-size: 20px;
    line-height: 20px;
    
    text-align: right;
    color: #000000;
  }

  .text8 {
    position: absolute;
    width: 574px;
    height: 150px;
    left: 991px;
    top: 1073.32px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    
    color: #000000;
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }
}
