@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;

  .image1 {
    position: absolute;
    width: 960px;
    height: 497px;
    left: 0px;
    top: 1000px;
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 1573px;
    left: 959.95px;
    top: -1px;
  }

  .text1 {
    position: absolute;
    width: 906px;
    height: 215px;
    left: 27px;
    top: 44px;

    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    /* or 125% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1ee4ff;
  }

  .text2 {
    position: absolute;
    width: 841px;
    height: 846px;
    left: 60px;
    top: 318px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #ffffff;

    ul {
      li {
        list-style-type: disc;
        width: fit-content;
        margin: auto;
      }
    }
  }

  .link1 {
    position: absolute;
    width: 229px;
    height: 55px;
    left: 366px;
    top: 984px;
    padding: 10px 20px;

    background: #1ee4ff;
    border-radius: 16px;
    position: absolute;

    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 923px;
    height: 85px;
    left: 973.95px;
    top: 43.67px;

    font-family: 'DJB Emilys Garden';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 85px;
    /* identical to box height, or 85% */

    color: #ffffff;

    -webkit-text-stroke: 1px #faff00;
  }

  .text4 {
    position: absolute;
    width: 891px;
    height: 92px;
    left: 1000.95px;
    top: 179.67px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */

    color: #ffffff;

    -webkit-text-stroke: 1px #faff00;
  }

  .text5 {
    position: absolute;
    width: 396px;
    height: 92px;
    left: 1470.95px;
    top: 242.67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 85px;
    /* or 170% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 1px #faff00;
  }

  .text6 {
    position: absolute;
    width: 883px;
    height: 431px;
    left: 984.95px;
    top: 313.67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 0.3px #faff00;
  }

  .text7 {
    position: absolute;
    width: 486px;
    height: 406px;
    left: 1376.95px;
    top: 705px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 0.3px #faff00;
  }

  .text8 {
    position: absolute;
    width: 757px;
    height: 324px;
    left: 984.95px;
    top: 1043px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    color: #ffffff;
    -webkit-text-stroke: 0.3px #faff00;
  }

  .text9 {
    position: absolute;
    width: 925px;
    height: 160px;
    left: 967.95px;
    top: 1396px;

    font-family: 'DJB Emilys Garden';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 85px;
    /* or 85% */

    color: #ffffff;
    -webkit-text-stroke: 0.3px #faff00;
  }
}
