@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  color: white;
  display: flex;
  position: relative;
  background-color: #000000;

  .imageBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .imageIssueNo {
    position: absolute;
    width: 239px;
    height: 250px;
    left: 20px;
    top: 25px;    
  }

  .image1 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: 210px;
    top: -142px;
  }

  .image2 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: -208px;
    top: 150px;    
  }

  .image3 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: 577px;
    top: 226px;
  }

  .image4 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: 176px;
    top: 515px;
  }

  .image5 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: -254px;
    top: 908px;
  }

  .image6 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: 637px;
    top: 864px;
  }

  .image7 {
    position: absolute;
    width: 496px;
    height: 368px;
    left: 210px;
    top: 1287px;
  }
  
  .text1Shadow {
    position: absolute;
    width: 630px;
    height: 216px;
    left: 303px;
    top: 72px;

    font-family: Bad Script;
    font-weight: normal;
    font-size: 58px;
    line-height: 120%;
    color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  }

  .text1 {
    position: absolute;
    width: 630px;
    height: 216px;
    left: 303px;
    top: 72px;

    font-family: Bad Script;
    font-weight: normal;
    font-size: 58px;
    line-height: 120%;
    color: #000000;
    text-shadow: -1px 1px #FF8C8C, -1px -1px #FF8C8C, 1px -1px #FF8C8C, 1px 1px #FF8C8C;
  }

  .text2 {
    position: absolute;
    width: 382px;
    height: 237px;
    left: 47px;
    top: 649px;
    
    font-family: 'Baloo Chettan 2';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;

    color: #FF46E1;
    text-shadow: -1px 1px #000000, -1px -1px #000000, 1px -1px #000000, 1px 1px #000000;
  }

  .text3 {
    position: absolute;
    width: 43px;
    height: 642px;
    left: 47px;
    top: 841px;
    
    font-family: Ander Hedge;
    font-size: 100px;
    line-height: 70px;
    word-break: break-all;
    color: #FAFF00;
    -webkit-text-stroke: 2px #000000;
  }

  .text4 {
    position: absolute;
    width: 43px;
    height: 642px;
    left: 117px;
    top: 841px;

    font-family: Ander Hedge;
    font-size: 100px;
    line-height: 80px;
    word-break: break-all;
    color: #FAFF00;
    -webkit-text-stroke: 2px #000000;
  }

  .text5 {
    position: absolute;
    width: 684px;
    height: 151px;
    left: 184px;
    top: 1466px;
    
    font-family: Boldfinger;
    font-size: 56px;
    line-height: 50px;
    color: #FFD954;
    
    text-shadow: -1px -1px #005CE7, -1px 1px #005CE7, 1px -1px #005CE7, 1px 1px #005CE7;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text6Shadow {
    position: absolute;
    width: 438px;
    height: 103px;
    left: 357px;
    top: 901px;
    
    font-family: Thasadith;
    font-size: 60px;
    line-height: 100%;
    color: transparent;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text6 {
    position: absolute;
    width: 438px;
    height: 103px;
    left: 357px;
    top: 901px;
    
    font-family: Thasadith;
    font-size: 60px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: -2px -2px #C13EFF, -2px 2px #C13EFF, 2px -2px #C13EFF, 2px 2px #C13EFF;
  }

  .text7 {
    position: absolute;
    width: 429px;
    height: 223px;
    left: 354px;
    top: 1096px;
    
    font-family: Barrio;
    font-size: 70px;
    line-height: 79px;
    
    color: #000000;
    -webkit-text-stroke: 3px #33A2A2;
  }

  .text8 {
    position: absolute;
    width: 409px;
    height: 270px;
    left: 354px;
    top: 1272px;
    
    font-family: Kumar One;
    font-size: 50px;
    line-height: 40px;
    color: #05C3FF;
    
    -webkit-text-stroke: 1px #6F10E9;
  }

  .text9 {
    position: absolute;
    width: 47px;
    height: 648px;
    left: 787px;
    top: 800px;
    
    font-family: Internal Rainbows;
    font-size: 60px;
    line-height: 120.53%;
    word-break: break-all;
    color: #702DFF;
  }

  .text10 {
    position: absolute;
    width: 47px;
    height: 648px;
    left: 793px;
    top: 800px;
    
    font-family: Internal Rainbows;
    font-size: 60px;
    line-height: 120.53%;
    word-break: break-all;
    color: #FF0000;
  }

  .text11 {
    position: absolute;
    width: 47px;
    height: 648px;
    left: 802px;
    top: 800px;
    
    font-family: Internal Rainbows;
    font-size: 60px;
    line-height: 120.53%;
    word-break: break-all;
    color: #B59134;
  }

  .text12 {
    position: absolute;
    width: 19px;
    height: 281px;
    left: 875px;
    top: 1147px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    text-align: center;
    
    word-break: break-all;
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(241, 241, 241, 0.25), 0px 4px 4px rgba(211, 211, 211, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25);
  }

  .text13 {
    position: absolute;
    width: 19px;
    height: 281px;
    left: 875px;
    top: 1147px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    text-align: center;
    word-break: break-all;
    color: #164AFF;

    text-shadow: 0px 4px 4px rgba(241, 241, 241, 0.25), 0px 4px 4px rgba(211, 211, 211, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
}

