@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .text1 {
    position: absolute;
    width: 710px;
    height: 172px;
    left: 37px;
    top: 67px;
    
    font-family: Diplomata;
    font-size: 80px;
    line-height: 80px;
    color: #0037FA;
    -webkit-text-stroke: 3px #EEFF85;
  }

  .text2 {
    position: absolute;
    width: 883px;
    height: 211px;
    left: 37px;
    top: 250px;
    
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 883px;
    height: 211px;
    left: 37px;
    top: 461px;
    
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 883px;
    height: 211px;
    left: 37px;
    top: 643px;
    
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 441px;
    height: 586px;
    left: 1426px;
    top: 39px;
    
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 370px;
    height: 586px;
    left: 1097px;
    top: 667px;
    
    font-family: Inter;
    font-size: 33px;
    line-height: 35px;
    color: #A5B3FF;    
  }

  .image1 {
    position: absolute;
    width: 1555px;
    height: 749px;
    left: 0;
    bottom: 0;
  }

  .image2 {
    position: absolute;
    width: 422px;
    height: 523px;
    left: 60px;
    top: 925px;
  }

  .image3 {
    position: absolute;
    width: 374px;
    height: 562px;
    left: 996px;
    top: 39px;
  }

  .image4 {
    position: absolute;
    width: 379px;
    height: 567px;
    left: 1509px;
    top: 903px;    
  }
}
