@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FF7070;
  border: 10px solid #FF0000;
  
  .image1 {
    position: absolute;
    left: 960px;
    top: 0;
    width: 960px;
    height: 1497px;
  }

  .image2 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 19px;        
  }

  .image3 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 165px;    
  }

  .image4 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 311px;
  }

  .image5 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 457px;
  }

  .image6 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 603px;
  }

  .image7 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 749px;        
  }

  .image8 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 895px;
  }

  .image9 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 1041px;
  }

  .image10 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 1187px;
  }

  .image11 {
    position: absolute;
    width: 160px;
    height: 146px;
    left: 19px;
    top: 1333px;    
  }

  .rect1 {
    position: absolute;
    width: 648px;
    height: 1350px;
    left: 226px;
    top: 74px;
    
    background: rgba(89, 255, 17, 0.71);
  }

  .text1 {
    position: absolute;
    width: 533px;
    height: 238px;
    left: 284px;
    top: 107px;
    
    font-family: Marcellus;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
  }
}
