@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;

  .background {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    
    background: radial-gradient(50% 50% at 50% 50%, #FCFF68 0%, #3449E0 31.77%, #0F1442 78.12%, #001AFF 100%);
  }

  .text1 {
    position: absolute;
    width: 798px;
    height: 139px;
    left: 55px;
    top: 46px;
    
    font-family: Bigelow Rules;
    font-size: 120px;
    line-height: 139px;
    color: #FFFFFF;
    -webkit-text-stroke: 3px #000000;
  }
}
