@import './styles.module.scss';
// @import url('https://fonts.googleapis.com/css2?family=Astloch');
// @import url('https://fonts.googleapis.com/css2?family=Alef');

.wrapper {
  @include magazineWrapper();
  color: white;
  display: flex;
  position: relative;
  background-color: #FFFFFF;

  .rect1 {
    position: absolute;
    width: 779px;
    height: 268px;
    left: -1px;
    top: 0px;
    
    background: rgba(34, 56, 255, 0.36);    
  }

  .rect2 {
    position: absolute;
    width: 571px;
    height: 37px;
    left: 534px;
    top: 1026px;
    
    background: #3AC4FF;
    transform-origin: 0 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .line1 {
    position: absolute;
    width: 673px;
    height: 9px;
    left: 787px;
    top: 0px;
    background: black;
    transform-origin: 0 0;
    transform: rotate(90deg);    
  }

  .line2 {
    position: absolute;
    width: 1944px;
    height: 9px;
    left: 1920px;
    top: 673px;
    background: black;
    transform-origin: 0 0;
    transform: rotate(180deg);
  }

  .line3 {
    position: absolute;
    width: 851px;
    height: 9px;
    left: 540px;
    top: 666px;
    background: black;
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .line4 {
    position: absolute;
    width: 570px;
    height: 9px;
    left: 1110px;
    top: 1034px;
    background: black;
    transform-origin: 0 0;
    transform: rotate(180deg);
  }

  .line5 {
    position: absolute;
    width: 951px;
    height: 9px;
    left: 1112px;
    top: 673px;
    background: black;
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .imagePath {
    position: absolute;
    width: 1066.16px;
    height: 956.13px;
    left: -226px;
    top: -213.86px;
    
    transform-origin: 0 0;
    transform: rotate(-10deg);
  }

  .imageDots {
    position: absolute;
    width: 369px;
    height: 412px;
    left: 788px;
    top: 261px;    
  }

  .imageCircles1 {
    position: absolute;
    width: 47px;
    height: 227px;
    left: 693px;
    top: 707px;        
  }

  .imageCircles2 {
    position: absolute;
    width: 47px;
    height: 227px;
    left: 11px;
    top: 1309px;    
  }

  .imageCircles3 {
    position: absolute;
    width: 47px;
    height: 227px;
    left: 467px;
    top: 1309px;    
  }

  .imageTriangles {
    position: absolute;
    width: 89px;
    height: 112px;
    left: 312px;
    top: 1371px;    
  }

  .video1 {
    position: absolute;
    width: 476px;
    height: 370px;
    left: 286px;
    top: 279px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
  }

  .video2 {
    position: absolute;
    width: 503px;
    height: 593px;
    left: 11px;
    top: 690px;
    object-fit: cover;
  }

  .video3 {
    position: absolute;
    width: 406px;
    height: 504px;
    left: 1123px;
    top: 682px;
    object-fit: cover;
  }

  .image1 {
    position: absolute;
    width: 725px;
    height: 544px;
    left: 1152px;
    top: 104px;        
  }

  .image2 {
    position: absolute;
    width: 325px;
    height: 325px;
    left: 763px;
    top: 691px;
  }

  .image3 {
    position: absolute;
    width: 408px;
    height: 442px;
    left: 554px;
    top: 1047px;
  }

  .text1 {
    position: absolute;
    width: 1190px;
    height: 151px;
    left: -206px;
    top: 17px;
    
    font-family: Artypa;
    font-size: 80px;
    line-height: 104px;
    text-align: center;
    
    color: #001E25;    
  }

  .text2 {
    position: absolute;
    width: 398px;
    height: 141px;
    left: 75px;
    top: 98px;
    
    font-family: The ART;
    font-size: 100px;
    line-height: 115px;
    
    color: #000905;
    display: flex;
    align-items: flex-end;
  }

  .text3 {
    position: absolute;
    width: 333px;
    height: 178px;
    left: 427px;
    top: 90px;
    
    font-family: Arthure;
    font-size: 200px;
    line-height: 266px;
    
    color: #0083CC;
  }

  .text4 {
    position: absolute;
    width: 131px;
    height: 22px;
    left: 19px;
    top: 295px;
    
    font-family: Imprima;
    font-size: 20px;
    line-height: 120.53%;
    text-align: right;    
    color: #000000;
  }

  .text5 {
    position: absolute;
    width: 418px;
    height: 211px;
    left: -53px;
    top: 645px;
    
    font-family: Asdonuts;
    font-size: 60px;
    line-height: 120.53%;
    display: flex;
    align-items: center;
    
    color: #ED612B;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text6 {
    position: absolute;
    width: 359px;
    height: 178px;
    left: 106px;
    top: 645px;
    
    font-family: Aubrey;
    font-size: 50px;
    line-height: 120.53%;    
    display: flex;
    align-items: center;
    
    color: #5F3AFF;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text7 {
    position: absolute;
    width: 418px;
    height: 208px;
    left: 812px;
    top: 16px;

    font-family: PartyLET;
    font-size: 100px;
    line-height: 120.53%;
    color: #FBD4AD;
  }

  .text8 {
    position: absolute;
    width: 131px;
    height: 22px;
    left: 1289px;
    top: 26px;
    
    font-family: Imprima;
    font-size: 20px;
    line-height: 120.53%;
    text-align: right;    
    color: #000000;
  }

  .text9 {
    position: absolute;
    width: 422px;
    height: 38px;
    left: 1443px;
    top: 26px;
    
    font-family: Minecrafter;
    font-size: 50px;
    line-height: 120.53%;
    color: #000000;
    -webkit-text-stroke: 4px #4D7267;
  }

  .text10 {
    position: absolute;
    width: 169px;
    height: 72px;
    left: 78px;
    top: 1308px;
    
    font-family: MadHouse;
    font-size: 60px;
    line-height: 120.53%;
    color: #F39737;
    -webkit-text-stroke: 1px #F39737;
  }

  .text11 {
    position: absolute;
    width: 169px;
    height: 72px;
    left: 263px;
    top: 1308px;
    
    font-family: MadHouse;
    font-size: 60px;
    line-height: 120.53%;
    color: #F39737;
    -webkit-text-stroke: 1px #F39737;
  }

  .text12 {
    position: absolute;
    width: 361px;
    height: 57px;
    left: 75px;
    top: 1380px;
    
    font-family: Hanalei;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120.53%;
    color: #6D29B1;
  }

  .text13 {
    position: absolute;
    width: 131px;
    height: 22px;
    left: 35px;
    top: 1432px;
    
    font-family: Imprima;
    font-size: 15px;
    line-height: 120.53%;
    text-align: right;
    color: #000000;    
  }

  .text14 {
    position: absolute;
    width: 178px;
    height: 216px;
    left: 564px;
    top: 690px;
    
    font-family: Share Tech;
    font-size: 60px;
    line-height: 120.53%;
    color: #000000;    
  }

  .text15 {
    position: absolute;
    width: 96px;
    height: 54px;
    left: 564px;
    top: 844px;
    
    font-family: Thicker Trial;
    font-weight: 900;
    font-size: 22px;
    line-height: 120.53%;
    color: #E297B6;    
  }

  .text16 {
    position: absolute;
    width: 96px;
    height: 54px;
    left: 564px;
    top: 911px;
    
    font-family: TharLon;
    font-size: 22px;
    line-height: 120.53%;
    color: #E297B6;
  }

  .text17 {
    position: absolute;
    width: 96px;
    height: 17px;
    left: 972px;
    top: 1055px;
    
    font-family: Wellfleet;
    font-size: 14px;
    line-height: 120.53%;
    color: #00D1FF;
  }

  .text18 {
    position: absolute;
    width: 96px;
    height: 54px;
    left: 972px;
    top: 1083px;
    
    font-family: Wellfleet;
    font-size: 22px;
    line-height: 120.53%;
    color: #00D1FF;
  }

  .text19 {
    position: absolute;
    width: 336px;
    height: 156px;
    left: 972px;
    top: 1485px;
    
    font-family: Volkhov;
    font-size: 30px;
    line-height: 130%;
    color: #C520FF;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text20 {
    position: absolute;
    width: 336px;
    height: 257px;
    left: 1555px;
    top: 683px;
    
    font-family: "Honey and Raspberries";
    font-size: 70px;
    line-height: 120.53%;
    color: #00C974;    
  }

  .text21 {
    position: absolute;
    width: 174px;
    height: 17px;
    left: 1555px;
    top: 940px;
    
    font-family: Think Thick;
    font-size: 14px;
    line-height: 120.53%;
        color: #8E4C9D;
  }

  .text22 {
    position: absolute;
    width: 336px;
    height: 90px;
    left: 1555px;
    top: 1001px;
    
    font-family: Think Thick;
    font-size: 30px;
    line-height: 150%;
    color: #EFABAB;    
  }

  .text23 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1133px;
    top: 1211px;
    
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text24 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1433px;
    top: 1211px;
    
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text25 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1736px;
    top: 1211px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text26 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1133px;
    top: 1320px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text27 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1433px;
    top: 1320px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000; 
  }

  .text28 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1736px;
    top: 1320px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text29 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1128px;
    top: 1427px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text30 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1428px;
    top: 1427px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text31 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1731px;
    top: 1427px;
    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .gradient {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #9c9c9c;
    background: linear-gradient(to right, #9c9c9c 8%, #f4f4f4 38%, #9c9c9c 54%);
    background-size: 1000px 640px;
    
    // position: relative;
  }

  @keyframes placeHolderShimmer{
    0%{
      background-position: -468px 0
    }
    100%{
      background-position: 468px 0
    }
  }

}
