@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .video1 {
    position: absolute;
    width: 1920;
    height: 1497px;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 1973px;
    height: 1517px;
    left: -49px;
    top: 1px;
    
    background: rgba(0, 0, 0, 0.4);    
  }

  h1 {
    position: absolute;
    width: 1331px;
    height: 400px;
    left: 294px;
    top: 590px;

    font-family: Heaven Wanders DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 100%;
    /* or 200px */

    text-align: center;

    color: #FFFFFF;
  }

  .imageEarth {
    position: absolute;
    width: 116px;
    height: 423px;
    left: 903px;
    top: 1074px;
  }

  .middleLine1 {
    position: absolute;
    width: 0px;
    height: 515px;
    left: 960px;
    top: 0px;

    border: 1px solid #FFFFFF;
  }

  .middleLine2 {
    position: absolute;
    width: 0px;
    height: 423px;
    left: 960px;
    top: 1074px;
    
    border: 0.5px solid #FFFFFF;
  }
  
  .climateText1 {
    position: absolute;
    width: 928px;
    height: 148px;
    left: 34px;
    top: 1171px;
    
    font-family: Bruno Ace;
    font-size: 80px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .climateText2 {
    position: absolute;
    width: 928px;
    height: 148px;
    left: 34px;
    top: 1269px;
    
    font-family: Bruno Ace;
    font-size: 80px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .climateText3 {
    position: absolute;
    width: 928px;
    height: 148px;
    left: 34px;
    top: 1372px;
    
    font-family: Bruno Ace;
    font-size: 80px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .climateText4 {
    position: absolute;
    width: 928px;
    height: 148px;
    left: 1001px;
    top: 1px;
    
    font-family: Bruno Ace;
    font-size: 95px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .climateText5 {
    position: absolute;
    width: 928px;
    height: 148px;
    left: 1001px;
    top: 99px;
    
    font-family: Bruno Ace;
    font-size: 95px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .climateText6 {
    position: absolute;
    width: 928px;
    height: 148px;
    left: 1001px;
    top: 202px;
    
    font-family: Bruno Ace;
    font-size: 95px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text1 {
    position: absolute;
    width: 898px;
    height: 549px;
    left: 34px;
    top: 27px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 473px;
    height: 549px;
    left: 34px;
    top: 591px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;     
  }

  .text3 {
    position: absolute;
    width: 643px;
    height: 211px;
    left: 34px;
    top: 823px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 849px;
    height: 211px;
    left: 34px;
    top: 991px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 879px;
    height: 360px;
    left: 1001px;
    top: 336px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF; 
  }

  .text6 {
    position: absolute;
    width: 438px;
    height: 173px;
    left: 1440px;
    top: 576px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text7 {
    position: absolute;
    width: 622px;
    height: 360px;
    left: 1260px;
    top: 771px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 819px;
    height: 360px;
    left: 1063px;
    top: 990px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120.53%;
    color: #FFFFFF;
  }
}