@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;

  .background {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;    
  }

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);    
  }

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;    
  }

  .text1 {
    position: absolute;
    width: 946px;
    height: 160px;
    left: 14px;
    top: 44px;
    
    font-family: DJB Emilys Garden;
    font-size: 100px;
    line-height: 85px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #0038FF;  
  }

  .text2 {
    position: absolute;
    width: 891px;
    height: 92px;
    left: 41px;
    top: 180px;
    
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px #0038FF;  
  }

  .text3 {
    position: absolute;
    width: 336px;
    height: 92px;
    left: 571px;
    top: 243px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 85px;
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #0038FF;
  }

  .text4 {
    position: absolute;
    width: 883px;
    height: 431px;
    left: 25px;
    top: 314px;
    
    font-family: Inter;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px #0038FF;
  }

  .text5 {
    position: absolute;
    width: 611px;
    height: 312px;
    left: 292px;
    top: 713px;
    
    font-family: Inter;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 0.3px #0038FF;
  }

  .text6 {
    position: absolute;
    width: 757px;
    height: 377px;
    left: 25px;
    top: 1004px;
    
    font-family: Inter;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.3px #0038FF;
  }

  .text7 {
    position: absolute;
    width: 925px;
    height: 160px;
    left: 0px;
    top: 1407px;
    
    font-family: DJB Emilys Garden;
    font-size: 100px;
    line-height: 85px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #0038FF;
  }

  .text8 {
    position: absolute;
    width: 591px;
    height: 85px;
    left: 984px;
    top: 30px;
    
    font-family: Iceberg;
    font-size: 100px;
    line-height: 85px;
    color: #000000;    
  }

  a {
    div {
      transition: 0.3s all;
      &:hover {
        transition: 0.3s all;
        transform: scale(0.9);
      }
    }
  }

  .text9 {
    position: absolute;
    width: 570px;
    height: 782px;
    left: 1001px;
    top: 167px;
    
    font-family: Frijole;
    font-size: 20px;
    line-height: 30px;
    color: #000000;    
  }

  .text10 {
    position: absolute;
    width: 634px;
    height: 522px;
    left: 993px;
    top: 947px;
    
    font-family: Frijole;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }

  .image2 {
    position: absolute;
    width: 252px;
    height: 252px;
    left: 40px;
    top: 695px;        
  }

  .image3 {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 796px;
    top: 1013px;    
  }

  .image4 {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 796px;
    top: 1141px;
  }

  .image5 {
    position: absolute;
    width: 112px;
    height: 112px;
    left: 796px;
    top: 1269px;    
  }

  .image6 {
    position: absolute;
    width: 348px;
    height: 1256px;
    left: 1563px;
    top: 210px;    
  }
}
