@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #00B876;
  color: white;
  display: flex;
  position: relative;

  .text1 {
    position: absolute;
    width: 796px;
    height: 1294px;
    left: 1061px;
    top: 75px;
    
    font-family: Chicle;
    font-size: 43px;
    line-height: 100%;
    color: #FFFFFF;
  }
}