@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;
  .text1 {
    position: absolute;
    width: 1411px;
    height: 764px;
    left: 101px;
    top: 97px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 160%;
    color: white;    
  }

  .image1 {
    position: absolute;
    width: 408px;
    height: 1352px;
    left: 1472px;
    top: 185px;    
  }

  .realmWrapper {
    position: absolute;
    left: 100px;
    top: 240px;
    width: 800px;
    height: 1200px;

    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: 310px 310px 310px 310px;
  }

  .realmWrapper2 {
    position: absolute;
    left: 1141px;
    top: 240px;
    width: 800px;
    height: 1200px;

    display: grid;
    grid-template-columns: 275px;
    grid-template-rows: 310px 310px 310px 310px;
  }
}