@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 504px;
    height: 378px;
    left: 708px;
    top: 68px;    
  }

  .image2 {
    position: absolute;
    width: 504px;
    height: 378px;
    left: 708px;
    top: 494px;
  }

  .link1 {
    position: absolute;
    width: 491px;
    height: 99px;
    left: 715px;
    top: 940px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 35px;
    text-align: center;
    
    color: #FF0000;
    -webkit-text-stroke: 3px #ffffff;
    transition: transform 0.3s ease;

    &:hover {
      // transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

  .rect1 {
    position: absolute;
    width: 583px;
    height: 1376px;
    left: 55px;
    top: 60px;
    
    background: rgba(255, 202, 13, 0.8);
    border: 10px solid #FF0000;    
  }

  .rect2 {
    position: absolute;
    width: 583px;
    height: 1376px;
    left: 1282px;
    top: 60px;
    
    background: rgba(255, 202, 13, 0.8);
    border: 10px solid #FF0000;    
  }

  .text1 {
    position: absolute;
    width: 509px;
    height: 1282px;
    left: 92px;
    top: 104px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    color: #000000;
  }

  .text2 {
    position: absolute;
    width: 490px;
    height: 1282px;
    left: 1330px;
    top: 106px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 34px;
    color: #000000;
  }

  .play {
    position: absolute;
    width: 201px;
    height: 201px;
    left: 680px;
    top: 1030px;
    
    cursor: pointer;

    transition: transform 0.3s ease;
    img {
      border-radius: 200px;
    }

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

  .pause {
    position: absolute;
    width: 201px;
    height: 201px;
    left: 680px;
    top: 1261px;
    

    cursor: pointer;

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }
}
