@import './styles.module.scss';

.wrapper {
  @include magazineWrapper(); 
  
  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 441px;
    height: 350px;
    left: 46px;
    top: 155px;
    
    font-family: Amethysta;
    font-size: 70px;
    line-height: 100%;
    color: #4CFF2F;
    -webkit-text-stroke: 5px #3B9A00;
    // text-shadow: -1px -1px #3B9A00, -1px 0 #3B9A00, 0 -1px #3B9A00, -1px 1px #3B9A00, 1px -1px #3B9A00, 1px 1px #3B9A00, 1px 0 #3B9A00, 0 1px #3B9A00;
  }

  .text2 {
    position: absolute;
    width: 297px;
    height: 70px;
    left: 409px;
    top: 452px;
    
    font-family: Amethysta;
    font-size: 70px;
    line-height: 100%;
    color: #4CFF2F;
    
    -webkit-text-stroke: 5px #3B9A00;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text3 {
    position: absolute;
    width: 340px;
    height: 238px;
    left: 1011px;
    top: 47px;
    
    font-family: Marcellus;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 506px;
    height: 197px;
    left: 1011px;
    top: 202px;
    
    font-family: Marcellus;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 592px;
    height: 139px;
    left: 1011px;
    top: 366px;
    
    font-family: Marcellus;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 852px;
    height: 959px;
    left: 1011px;
    top: 451px;
    
    font-family: Marcellus;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
  }
}
