@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .rect1 {
    background: linear-gradient(180deg, #EC7508 0%, #6F3F13 72.4%, #643B14 100%);
    position: absolute;
    top: 0;
    left: 960px;
    width: 960px;
    height: 1497px;
  }

  .imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 1497px;
  }

  .image1 {
    position: absolute;
    width: 296px;
    height: 294px;
    left: 1607px;
    top: -5px;
  }

  .image2 {
    position: absolute;
    width: 218px;
    height: 445px;
    left: 1011px;
    top: 1011px;
  }

  .image3 {
    position: absolute;
    width: 276.83px;
    height: 445px;
    left: 1302px;
    top: 1018px;
  }

  .image4 {
    position: absolute;
    width: 216.57px;
    height: 445px;
    left: 1652px;
    top: 1011px;
  }

  .text1 {
    position: absolute;
    width: 355px;
    height: 154px;
    left: 965px;
    top: 32px;
    
    font-family: Baloo;
    font-size: 100px;
    line-height: 110%;
    text-align: center;
    color: #F4FFAE;
    -webkit-text-stroke: 4px #00FF47;
  }

  .text2 {
    position: absolute;
    width: 355px;
    height: 154px;
    left: 1263px;
    top: 32px;
    
    font-family: Baloo;
    font-size: 100px;
    line-height: 110%;
    text-align: center;
    color: #F4FFAE;
    -webkit-text-stroke: 4px #00FF47;
  }

  .text3 {
    position: absolute;
    width: 578px;
    height: 122px;
    left: 1010px;
    top: 154px;
    
    font-family: Donegal One;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 859px;
    height: 185px;
    left: 1010px;
    top: 289px;
    
    font-family: Donegal One;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 847px;
    height: 122px;
    left: 1010px;
    top: 480px;
    
    font-family: Donegal One;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 837px;
    height: 105px;
    left: 1014px;
    top: 590px;
    
    font-family: Donegal One;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .video1 {
    position: absolute;
    width: 394px;
    height: 243px;
    left: 1035px;
    top: 721px;
    
    background: #C4C4C4;    
  }

  .video2 {
    position: absolute;
    width: 394px;
    height: 243px;
    left: 1451px;
    top: 721px;
    
    background: #C4C4C4;
  }
}
