@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;

  .background {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;    
  }

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);    
  }

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;    
  }

  .text1 {
    position: absolute;
    width: 946px;
    height: 160px;
    left: 14px;
    top: 44px;
    
    font-family: DJB Emilys Garden;
    font-size: 100px;
    line-height: 85px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FF5C00;  
  }

  .text2 {
    position: absolute;
    width: 891px;
    height: 92px;
    left: 41px;
    top: 180px;
    
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px #FF5C00;
  }

  .text3 {
    position: absolute;
    width: 336px;
    height: 92px;
    left: 571px;
    top: 243px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 85px;
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FF5C00;
  }

  .text4 {
    position: absolute;
    width: 883px;
    height: 431px;
    left: 25px;
    top: 314px;
    
    font-family: Inter;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 0.3px #FF5C00;
  }

  .text5 {
    position: absolute;
    width: 611px;
    height: 312px;
    left: 292px;
    top: 713px;
    
    font-family: Inter;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    color: #FFFFFF;
    -webkit-text-stroke: 0.3px #FF5C00;
  }

  .text6 {
    position: absolute;
    width: 757px;
    height: 261px;
    left: 25px;
    top: 992px;
    
    font-family: Inter;
    font-size: 17px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 0.3px #FF5C00;
  }

  .text7 {
    position: absolute;
    width: 925px;
    height: 160px;
    left: 0px;
    top: 1407px;
    
    font-family: DJB Emilys Garden;
    font-size: 100px;
    line-height: 85px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FF5C00;
  }

  .text8 {
    position: absolute;
    width: 665px;
    height: 30px;
    left: 1009px;
    top: 68px;
    
    font-family: Marker Felt;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-text-stroke: 4px #FF5C00;
  }

  .text9 {
    position: absolute;
    width: 864px;
    height: 831px;
    left: 1009px;
    top: 143px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #C9FF85;    
  }

  .image2 {
    position: absolute;
    width: 225px;
    height: 83px;
    left: 44px;
    top: 692px;    
  }

  .image3 {
    position: absolute;
    width: 225px;
    height: 83px;
    left: 44px;
    top: 792px;
  }

  .image4 {
    position: absolute;
    width: 225px;
    height: 83px;
    left: 44px;
    top: 894px;
  }

  .image5 {
    position: absolute;
    width: 396px;
    height: 146px;
    left: 924px;
    top: 1047px;
    
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .image6 {
    position: absolute;
    width: 322px;
    height: 322px;
    left: 970px;
    top: 1275px;    
  }

  .image7 {
    position: absolute;
    width: 242px;
    height: 242px;
    left: 1195px;
    top: 1033px;
  }

  .image8 {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 1302px;
    top: 1289px;
  }

  .image9 {
    position: absolute;
    width: 135px;
    height: 135px;
    left: 1316px;
    top: 1407px;
  }

  .image10 {
    position: absolute;
    width: 653px;
    height: 653px;
    left: 1434px;
    top: 960px;
    
  }
}
