@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #F1C148;
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 960px;
    height: 1503px;
    left: 0px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 1503px;
    left: 960px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 547px;
    height: 169px;
    left: 1021px;
    top: 45px;
    
    font-family: Archie Websters;
    font-size: 130px;
    line-height: 110%;
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 700px;
    height: 66px;
    left: 983px;
    top: 487px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;    
  }

  .text3 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 983px;
    top: 885px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 1523px;
    top: 885px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 983px;
    top: 1183px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 700px;
    height: 52px;
    left: 1522px;
    top: 1183px;
    
    font-family: Archie Websters;
    font-size: 100px;
    line-height: 110%;
    color: #FFFFFF;    
  }

  .text7 {
    position: absolute;
    width: 23px;
    height: 630px;
    left: 1592px;
    top: 46px;
    
    font-family: Archie Websters;
    font-size: 80px;
    line-height: 110%;
    color: #FFFFFF;
    word-break: break-all;
  }

  .image3 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 237px;
  }

  .image4 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 663px;
  }

  .image5 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1021px;
    top: 1019px;
  }

  .image6 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1675px;
    top: 50px;
  }

  .image7 {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 1020px;
    top: 1314px;
  }

  a {
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }
  }

  .text8 {
    position: absolute;
    width: 389px;
    height: 98px;
    left: 1138px;
    top: 251px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text9 {
    position: absolute;
    width: 506px;
    height: 132px;
    left: 1021px;
    top: 333px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;    
  }

  .text10 {
    position: absolute;
    width: 423px;
    height: 211px;
    left: 1143px;
    top: 643px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text11 {
    position: absolute;
    width: 732px;
    height: 164px;
    left: 1168px;
    top: 1019px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text12 {
    position: absolute;
    width: 710px;
    height: 152px;
    left: 1168px;
    top: 1314px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text13 {
    position: absolute;
    width: 88px;
    height: 113px;
    left: 1781px;
    top: 64px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
    span {
      font-family: Mad Galaxy Demo;
      font-size: 17px;
    }
  }

  .text14 {
    position: absolute;
    width: 189px;
    height: 603px;
    left: 1675px;
    top: 156px;
    
    font-family: Mada;
    font-size: 15px;
    line-height: 110%;   
    color: #FFFFFF;
  }
}