@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: -7px;
    
    background: #750000;
  }

  .video1 {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: 21px;
    top: -369px;
  }

  .image1 {
    position: absolute;
    width: 262px;
    height: 1640px;
    left: -48px;
    top: -2px;
  }

  .image2 {
    position: absolute;
    width: 398px;
    height: 360px;
    left: 1522px;
    top: -214px;        
  }

  .image3 {
    position: absolute;
    width: 398px;
    height: 360px;
    left: 949px;
    top: 187px;    
  }

  .image4 {
    position: absolute;
    width: 398px;
    height: 360px;
    left: 1576px;
    top: 513px;
  }

  .image5 {
    position: absolute;
    width: 398px;
    height: 360px;
    left: 1042px;
    top: 873px;
  }

  .image6 {
    position: absolute;
    width: 233.79px;
    height: 78.39px;
    left: 1502.5px;
    top: 835.5px;
    
    transform-origin: 0 0;
    transform: rotate(-164.65deg);    
  }

  .image7 {
    position: absolute;
    width: 1346px;
    height: 545px;
    left: 574px;
    top: 952px;    
  }


  .text1 {
    position: absolute;
    width: 64px;
    height: 709px;
    left: 279px;
    top: 755px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */

    color: #FBFF4F;
    word-break: break-all;

    -webkit-text-stroke: 3px #FBFF4F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
  }

  .text2 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: 389px;
    top: 1464px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 100%;
    color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text3 {
    position: absolute;
    width: 812px;
    height: 112px;
    left: 978px;
    top: 14px;
    
    font-family: Averia Libre;
    font-size: 150px;
    line-height: 110%;   
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
  }

  .text4 {
    position: absolute;
    width: 812px;
    height: 112px;
    left: 1356px;
    top: 146px;
    
    font-family: Averia Libre;
    font-size: 150px;
    line-height: 110%;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #000000;
  }

  .text5 {
    position: absolute;
    width: 546px;
    height: 261px;
    left: 1358px;
    top: 316px;
    
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #9FFF53;    
  }

  .text6 {
    position: absolute;
    width: 511px;
    height: 261px;
    left: 1424px;
    top: 859px;
    
    font-family: DIN Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #E5FF38;
    -webkit-text-stroke: 1px #000000;
  }

  .playButton1 {
    position: absolute;
    width: 245px;
    height: 245px;
    left: 1013px;
    top: 579px;

    cursor: pointer;
    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }
  }

  .imageBack {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #DEBB47;
    border-radius: 50%;
  }

  .imagePlay {
    position: absolute;
    width: 152px;
    height: 173px;
    left: 70px;
    top: 38px;
  }
  
  .imagePause {
    position: absolute;
    width: 129px;
    height: 163px;
    left: 60px;
    top: 42px;
  }
}
