@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #000d39;
  color: white;

  .rect1 {
    background: #7a9316;
    position: absolute;
    width: 472px;
    height: 1497px;
    left: 1168px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 661px;
    height: 1156px;
    left: 150px;
    top: 110px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */

    text-align: center;

    color: #ffffff;

    -webkit-text-stroke: 1px #000000;
  }

  .text2 {
    position: absolute;
    width: 661px;
    height: 1156px;
    left: 1117px;
    top: 106px;

    font-family: 'Reggae One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */

    text-align: center;

    color: #ffffff;

    -webkit-text-stroke: 1px #000000;
  }
}
