@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .rect1 {
    position: absolute;
    width: 555px;
    height: 1372px;
    left: 74px;
    top: 60px;

    background: rgba(0, 0, 0, 0.56);
    border: 10px solid #ffffff;
    box-sizing: border-box;
  }

  .rect2 {
    position: absolute;
    width: 555px;
    height: 1372px;
    left: 684px;
    top: 65px;

    background: rgba(0, 0, 0, 0.56);
    border: 10px solid #ffffff;
    box-sizing: border-box;
  }

  .rect3 {
    position: absolute;
    width: 555px;
    height: 1372px;
    left: 1299px;
    top: 65px;

    background: rgba(0, 0, 0, 0.56);
    border: 10px solid #ffffff;
    box-sizing: border-box;
  }

  .rect4 {
    position: absolute;
    width: 575px;
    height: 315px;
    left: 368px;
    top: 1114px;

    background: rgba(213, 134, 67, 0.85);
    border-radius: 82px;
  }

  .image1 {
    position: absolute;
    width: 198px;
    height: 198px;
    left: 6px;
    top: 0px;

    border: 5px solid #ff0000;
    box-sizing: border-box;
    border-radius: 200px;
  }

  .link1 {
    position: absolute;
    width: 432px;
    height: 84px;
    top: 96px;
    left: 128px;

    font-family: 'Mukta Mahee';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 120.53%;
    /* or 84px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;

    transition: ease all 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: ease all 0.3s;
    }
  }

  .text1 {
    position: absolute;
    width: 443px;
    height: 1210px;
    left: 133px;
    top: 191px;

    font-family: 'Mukta Mahee';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #ffffff;
  }

  .text2 {
    position: absolute;
    width: 443px;
    height: 1267px;
    left: 750px;
    top: 114px;

    font-family: 'Mukta Mahee';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #ffffff;
  }

  .text3 {
    position: absolute;
    width: 443px;
    height: 894px;
    left: 1366px;
    top: 114px;

    font-family: 'Mukta Mahee';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #ffffff;
  }

  .text4 {
    position: absolute;
    width: 443px;
    height: 168px;
    left: 1368px;
    top: 1010px;

    font-family: 'Mukta Mahee';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */

    color: #ffffff;
  }

  .imagePlayButton {
    position: absolute;
    width: 152px;
    height: 152px;
    left: 1500px;
    top: 1195px;

    transition: ease all 0.3s;

    &:hover {
      transform: scale(1.03);
      transition: ease all 0.3s;
    }
  }
}
