@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: white;

  .image1 {
    position: absolute;
    width: 310px;
    height: 310px;
    left: 540px;
    top: 132px;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.05);
      transition: all ease 0.3s;
    }
  }

  .back {
    position: absolute;
    top: 0;
    left: 960px;
    width: 960px;
    height: 1497px;
    object-fit: cover;
  }

  .image4 {
    position: absolute;
    top: 568.33px;
    right: 92.95px;
    width: 821px;
    height: 155px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 960px;
    width: 960px;
    height: 1497px;
    background: rgba(0, 0, 0, 0.5);
  }

  .rect1 {
    background: #53ad52;
    border-radius: 73px;
    position: absolute;
    width: 836px;
    height: 1392px;
    left: 64px;
    top: 52px;
  }

  .rect2 {
    position: absolute;
    width: 554px;
    height: 17px;
    left: 121px;
    top: 1028px;

    background: #ffffff;
  }

  .rect3 {
    position: absolute;
    width: 554px;
    height: 17px;
    left: 260px;
    top: 1061px;

    background: #ffffff;
  }

  .rect4 {
    position: absolute;
    width: 554px;
    height: 17px;
    left: 191px;
    top: 1098px;

    background: #ffffff;
  }

  .rect5 {
    position: absolute;
    width: 554px;
    height: 17px;
    left: 330px;
    top: 1131px;

    background: #ffffff;
  }

  .rect6 {
    position: absolute;
    width: 554px;
    height: 17px;
    left: 260px;
    top: 1164px;

    background: #ffffff;
  }

  .image2 {
    position: absolute;
    width: 229px;
    height: 229px;
    left: 198px;
    cursor: pointer;
    top: 734px;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.05);
      transition: all ease 0.3s;
    }
  }

  .image3 {
    position: absolute;
    width: 229px;
    height: 229px;
    left: 537px;
    top: 734px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.05);
      transition: all ease 0.3s;
    }
  }

  .text1 {
    position: absolute;
    width: 553px;
    height: 526px;
    left: 132px;
    top: 129px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    /* or 100% */

    color: #ffffff;
  }

  .text2 {
    position: absolute;
    width: 740px;
    height: 208px;
    left: 132px;
    top: 1208px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    /* or 100% */

    color: #ffffff;
    transition: all ease 0.3s;

    &:hover {
      transform: scale(1.05);
      transition: all ease 0.3s;
    }
  }

  .link1 {
    position: absolute;
    width: 229px;
    height: 55px;
    left: 366px;
    top: 984px;
    padding: 10px 20px;

    background: #1ee4ff;
    border-radius: 16px;
    position: absolute;

    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 923px;
    height: 85px;
    left: 973.95px;
    top: 43.67px;

    font-family: 'DJB Emilys Garden';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 85px;
    /* identical to box height, or 85% */

    color: #ffffff;

    -webkit-text-stroke: 1px #0094ff;
  }

  .text4 {
    position: absolute;
    width: 891px;
    height: 92px;
    left: 1000.95px;
    top: 179.67px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */

    color: #ffffff;

    -webkit-text-stroke: 1px #0094ff;
  }

  .text5 {
    position: absolute;
    width: 396px;
    height: 92px;
    left: 1470.95px;
    top: 242.67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 85px;
    /* or 170% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 1px #0094ff;
  }

  .text6 {
    position: absolute;
    width: 883px;
    height: 431px;
    left: 984.95px;
    top: 313.67px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 0.3px #0094ff;
  }

  .text7 {
    position: absolute;
    width: 486px;
    height: 406px;
    left: 1376.95px;
    top: 705px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 0.3px #0094ff;
  }

  .text8 {
    position: absolute;
    width: 883px;
    height: 431px;
    left: 985px;
    top: 797px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    text-align: right;

    color: #ffffff;
    -webkit-text-stroke: 0.3px #0094ff;
  }

  .text9 {
    position: absolute;
    width: 925px;
    height: 160px;
    left: 967.95px;
    top: 1396px;

    font-family: 'DJB Emilys Garden';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 85px;
    /* or 85% */

    color: #ffffff;
    -webkit-text-stroke: 0.3px #0094ff;
  }

  .image5 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 986px;
    top: 736px;
  }

  .image6 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1094px;
    top: 736px;
  }

  .image7 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1202px;
    top: 736px;
  }

  .image8 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1310px;
    top: 736px;
  }

  .image9 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1418px;
    top: 736px;
  }

  .image10 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1526px;
    top: 736px;
  }

  .image11 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1634px;
    top: 736px;
  }

  .image12 {
    position: absolute;
    width: 108px;
    height: 77px;
    left: 1742px;
    top: 736px;
  }

  .image13 {
    position: absolute;
    width: 186px;
    height: 133px;
    top: 1263.33px;
    right: 741.95px;
  }

  .image14 {
    position: absolute;
    bottom: 100.67px;
    right: 555.95px;
    width: 186px;
    height: 133px;
  }

  .image15 {
    position: absolute;
    bottom: 100.67px;
    right: 369.55px;
    width: 186px;
    height: 133px;
  }

  .image16 {
    position: absolute;
    bottom: 100.67px;
    right: 183.95px;
    width: 186px;
    height: 133px;
  }

  .image17 {
    position: absolute;
    bottom: 100.67px;
    right: 2.05px;
    width: 186px;
    height: 133px;
  }
}
