@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: white;

  .image1 {
    position: absolute;
    width: 290px;
    height: 289px;
    left: 38px;
    top: 34px;
  }

  .image2 {
    position: absolute;
    width: 290px;
    height: 289px;
    left: 351px;
    top: 34px;
  }

  .image3 {
    position: absolute;
    width: 290px;
    height: 289px;
    left: 656px;
    top: 34px;
  }

  .video1 {
    position: absolute;
    width: 209px;
    height: 131px;
    left: 58px;
    top: 1366px;

    object-fit: cover;
  }

  .video2 {
    position: absolute;
    width: 209px;
    height: 131px;
    left: 377px;
    top: 1366px;
    object-fit: cover;
  }

  .video3 {
    position: absolute;
    width: 209px;
    height: 131px;
    left: 696px;
    top: 1366px;

    object-fit: cover;
  }

  .video4 {
    position: absolute;
    width: 209px;
    height: 131px;
    left: 1015px;
    top: 1366px;

    object-fit: cover;
  }

  .video5 {
    position: absolute;
    width: 209px;
    height: 131px;
    left: 1334px;
    top: 1366px;
    object-fit: cover;
  }

  .video6 {
    position: absolute;
    width: 209px;
    height: 131px;
    left: 1653px;
    top: 1366px;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 1920px;
    height: 131px;
    left: 0px;
    top: 1366px;

    background: #000000;
  }

  .text1 {
    position: absolute;
    width: 625px;
    height: 130px;
    left: 38px;
    top: 391px;

    font-family: 'Asul';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 100px;
    /* or 50% */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .text2 {
    position: absolute;
    width: 800px;
    height: 124px;
    left: 38px;
    top: 630px;

    font-family: 'Asul';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    /* or 100% */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 800px;
    height: 56px;
    left: 38px;
    top: 918px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;

    color: #000000;
  }

  .text4 {
    position: absolute;
    width: 772px;
    height: 210px;
    left: 38px;
    top: 993px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: #000000;
  }

  .text5 {
    position: absolute;
    width: 818px;
    height: 180px;
    left: 1032px;
    top: 102px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
  }

  .text6 {
    position: absolute;
    width: 847px;
    height: 252px;
    left: 1032px;
    top: 294px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: #000000;
  }

  .text7 {
    position: absolute;
    width: 801px;
    height: 72px;
    left: 1032px;
    top: 606px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
  }

  .text8 {
    position: absolute;
    width: 830px;
    height: 189px;
    left: 1032px;
    top: 695px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: #000000;
  }

  .text9 {
    position: absolute;
    width: 801px;
    height: 108px;
    left: 1032px;
    top: 977px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
  }

  .text10 {
    position: absolute;
    width: 830px;
    height: 126px;
    left: 1032px;
    top: 1097px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: #000000;
  }

  .line1 {
    position: absolute;
    height: 1497px;
    width: 1px;
    background: black;
    left: 960px;
    top: 0;
  }
}
