@import './styles.module.scss';
.wrapper {
  @include magazineWrapper();

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }

  .link1 {
    position: absolute;
    width: 139px;
    height: 40px;
    left: 30px;
    top: 1354px;

    font-family: 'Sansita One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
    /* or 82% */
    -webkit-text-stroke: 0.5px #ffffff;

    color: #ffffff;
    color: white;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      color: white;
      text-decoration: underline;
    }
  }

  .text1 {
    position: absolute;
    width: 771px;
    height: 92px;
    left: 28px;
    top: 1402px;

    font-family: 'Sunflower';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* or 100% */

    color: #ffffff;

    -webkit-text-stroke: 0.5px #ffffff;
  }

  .text2 {
    position: absolute;
    width: 527px;
    height: 40px;
    left: 28px;
    top: 1428px;

    font-family: 'Sansita One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
    /* or 82% */

    color: #ffffff;
    -webkit-text-stroke: 0.5px #ffffff;
  }
}
