@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #5e0b4b;
  color: black;

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0;
    top: 0;
  }

  .text1 {
    position: absolute;
    width: 620px;
    height: 375px;
    left: 30px;
    top: 1093px;

    font-family: 'CF Punk Fashion PERSONAL';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    color: #0400d6;
  }

  .text2 {
    position: absolute;
    width: 488px;
    height: 180px;
    left: 1008px;
    top: 76px;

    font-family: 'Herculanum';
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */

    color: #00fe66;

    -webkit-text-stroke: 1px #000000;
    box-sizing: border-box;
  }

  .text3 {
    position: absolute;
    width: 863px;
    height: 951px;
    left: 1012px;
    top: 291px;

    font-family: 'Herculanum';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    /* or 30px */

    color: #ff5c00;

    -webkit-text-stroke: 1px #ff5c00;
    box-sizing: border-box;
  }
}
