@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;

  .imageBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0;
    top: 0;
  }

  .rect2 {
    position: relative;
    width: 960px;
    height: 1497px;
    overflow: hidden;
  }

  .text1 {
    position: absolute;
    width: 620px;
    height: 239px;
    left: 18px;
    top: 5px;

    font-family: 'Rose Cake - Personal Use';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    color: #046469;
  }

  .text2 {
    position: absolute;
    width: 620px;
    height: 239px;
    left: 604px;
    top: 34px;

    font-family: 'Rose Cake - Personal Use';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    color: #046469;
  }

  .text3 {
    position: absolute;
    width: 620px;
    height: 239px;
    left: -154px;
    top: 257px;

    font-family: 'Rose Cake - Personal Use';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    color: #046469;
  }

  .text4 {
    position: absolute;
    width: 620px;
    height: 239px;
    left: 409px;
    top: 291px;

    font-family: 'Rose Cake - Personal Use';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    color: #046469;
  }

  .text5 {
    position: absolute;
    width: 620px;
    height: 239px;
    left: -114px;
    top: 530px;

    font-family: 'Rose Cake - Personal Use';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    text-align: center;

    color: #046469;
  }

  .text6 {
    position: absolute;
    width: 620px;
    height: 375px;
    left: 30px;
    top: 1093px;

    font-family: 'CF Punk Fashion PERSONAL';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    /* or 120px */

    color: #046469;
  }

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
    z-index: 2;
  }

  .text7 {
    position: absolute;
    width: 668px;
    height: 178px;
    left: 1009px;
    top: 34px;

    font-family: 'Berkeley Mono Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #ffffff;
  }

  .text8 {
    position: absolute;
    width: 1119px;
    height: 251px;
    top: 177px;
    left: 1013px;

    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    font-size: 75px;
    line-height: 130px;
    /* or 173% */

    color: #ffffff;
  }

  .image1 {
    position: absolute;
    width: 244px;
    height: 244px;
    left: 998px;
    top: 1159px;
  }

  .image2 {
    position: absolute;
    width: 244px;
    height: 244px;
    left: 1318px;
    top: 1159px;
  }

  .image3 {
    position: absolute;
    width: 244px;
    height: 244px;
    left: 1638px;
    top: 1159px;
  }

  .video {
    position: absolute;
    width: 960px;
    height: 538px;
    left: 960px;
    top: 468px;
  }

  .play {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 1827px;
    top: 1017px;
    border: none;
    border-radius: 50%;
    outline: none;
    z-index: 3;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
