@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;

    background: #ff0000;
  }

  .rect2 {
    position: absolute;
    width: 960px;
    height: 1504px;
    left: 960px;
    top: 0px;

    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #28286e 96.87%);
  }

  .video1 {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: 21px;
    top: -369px;
  }

  .image1 {
    position: absolute;
    width: 262px;
    height: 1640px;
    left: -48px;
    top: -2px;
  }

  .text5 {
    position: absolute;
    width: 56px;
    height: 483px;
    left: 300px;
    top: 673px;

    font-family: 'THIS FONT IS EMPTY1';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */

    color: #5b7fff;
    word-break: break-all;
    -webkit-text-stroke: 3px #5b7fff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
  }

  .text6 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: 389px;
    top: 1464px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 100%;
    color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  a {
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }
  }

  .image2 {
    position: absolute;
    width: 484px;
    height: 1311px;
    left: 720px;
    top: 190px;
  }

  .image3 {
    position: absolute;
    width: 1424px;
    height: 882px;
    left: 542px;
    top: 636px;
  }

  .text1 {
    position: absolute;
    width: 676px;
    height: 240px;
    left: 1191px;
    top: 33px;

    font-family: 'Knife Princess';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */

    text-align: right;

    color: #ffffff;
  }

  .text2 {
    position: absolute;
    width: 835px;
    height: 711px;
    left: 1032px;
    top: 323px;

    font-family: 'Khmer';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */

    color: #ffffff;
  }

  .text3 {
    position: absolute;
    width: 531px;
    height: 711px;
    left: 1346px;
    top: 678px;

    font-family: 'Khmer';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */

    color: #ffffff;
  }

  .text4 {
    position: absolute;
    width: 372px;
    height: 373px;
    left: 1505px;
    top: 903px;

    font-family: 'Khmer';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */

    color: #ffffff;
  }
}
