@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: white;
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0;
    top: 0;
  }

  .text1 {
    position: absolute;
    width: 815px;
    height: 466px;
    left: 43px;
    top: 34px;

    font-family: 'Digitalino';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 150%;
    /* or 150px */

    color: #ffffff;
  }

  .text2 {
    position: absolute;
    width: 815px;
    height: 466px;
    left: 68px;
    top: 34px;

    font-family: 'Digitalino';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 150%;
    /* or 150px */

    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 861px;
    height: 840px;
    left: 43px;
    top: 483px;

    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 350;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    color: #ffffff;
  }

  .text4 {
    position: absolute;
    width: 767px;
    height: 1392px;
    left: 1065px;
    top: 109px;

    font-family: 'KyivType Sans';
    font-style: normal;
    font-weight: 350;
    font-size: 28px;
    line-height: 150%;
    /* or 42px */

    color: #ffffff;
  }

  .text5 {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 658px;
    top: 179px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */

    color: #ffffff;

    -webkit-text-stroke: 1px #000000;
  }
}
