@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #85d5f5;

  .overlap {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.7);
  }

  .link1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    transition: ease all 0.3s;
    transform-origin: center;
    &:hover {
      transform: scale(1.03);
      transition: ease all 0.3s;
    }
  }

  .text1 {
    position: absolute;
    width: 376px;
    height: 150px;
    left: 377px;
    top: 296px;

    font-family: 'Bentham';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 150%;
    /* identical to box height, or 150px */

    color: #000000;
  }

  .text2 {
    position: absolute;
    width: 875px;
    height: 270px;
    left: 42px;
    top: 517px;

    font-family: 'Bentham';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 875px;
    height: 390px;
    left: 42px;
    top: 766px;

    font-family: 'Bentham';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    color: #000000;
  }

  .text4 {
    position: absolute;
    width: 875px;
    height: 270px;
    left: 42px;
    top: 1187px;

    font-family: 'Bentham';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    color: #000000;
  }
  .text5 {
    position: absolute;
    width: 875px;
    height: 840px;
    left: 1001px;
    top: 42px;

    font-family: 'Bentham';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    color: #000000;
  }

  .image1 {
    position: absolute;
    width: 197px;
    height: 197px;
    left: 720px;
    top: 303px;
  }

  .image2 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1039px;
    top: 970px;
  }

  .image3 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1298px;
    top: 1187px;
  }

  .image4 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1508px;
    top: 922px;
  }

  .image5 {
    position: absolute;
    width: 210px;
    height: 210px;
    left: 1666px;
    top: 1238px;
  }

  .image6 {
    position: absolute;
    width: 935px;
    height: 626px;
    left: 985px;
    top: 882px;
  }

  .gif2 {
    position: absolute;
    width: 302px;
    height: 283px;
    left: 1521px;
    top: 687px;

    border: 10px solid #ffe600;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .gif3 {
    position: absolute;
    width: 302px;
    height: 283px;
    left: 1051px;
    top: 1015px;

    border: 10px solid #ffe600;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .gif4 {
    position: absolute;
    width: 302px;
    height: 283px;
    left: 1495px;
    top: 1148px;

    border: 10px solid #ffe600;
    box-sizing: border-box;
    border-radius: 20px;
  }
}
