@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;

  .rect1 {
    position: absolute;
    width: 713px;
    height: 174px;
    left: 0px;
    top: 174px;

    background: #cecece;
    transform-origin: 0 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .gradient {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #9c9c9c;
    background: linear-gradient(to right, #9c9c9c 8%, #f4f4f4 38%, #9c9c9c 54%);
    background-size: 1000px 640px;

    // position: relative;
  }

  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0;
    }
    100% {
      background-position: 468px 0;
    }
  }

  .text1 {
    position: absolute;
    width: 511px;
    height: 151px;
    left: -66px;
    top: 12px;

    font-family: Artypa;
    font-size: 60px;
    line-height: 78px;
    text-align: center;

    color: #ffffff;
  }

  .rect2 {
    position: absolute;
    width: 633px;
    height: 27px;
    left: 713px;
    top: 0px;

    background: #330052;
  }

  .rect3 {
    position: absolute;
    width: 1259px;
    height: 74px;
    left: 713px;
    top: 100px;

    background: #592c6f;
  }

  .rect4 {
    position: absolute;
    width: 635px;
    height: 371px;
    left: 1621px;
    top: 309px;

    background: #fcff61;
  }

  .rect11 {
    position: absolute;
    width: 1357px;
    height: 101px;
    left: 899px;
    top: 1225px;
    transform-origin: top left;
    background: #df006b;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .rect12 {
    position: absolute;
    width: 635px;
    height: 371px;
    left: 1621px;
    top: 309px;

    background: #00dfd2;
  }

  .rect5 {
    position: absolute;
    width: 687px;
    height: 269px;
    left: 713px;
    top: 1228px;

    background: #6e56ff;
  }

  .line1 {
    position: absolute;
    width: 1497px;
    height: 9px;
    left: 706px;
    top: 1497px;
    background-color: #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .line2 {
    position: absolute;
    width: 200px;
    height: 9px;
    left: 1355px;
    top: 0px;
    background-color: #000000;
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .line3 {
    position: absolute;
    width: 1215px;
    height: 9px;
    left: 713px;
    top: 700px;
    background-color: #000000;
  }

  .line4 {
    position: absolute;
    width: 272px;
    height: 9px;
    left: 1400px;
    top: 1225px;
    background-color: #000000;
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .line5 {
    position: absolute;
    width: 642px;
    height: 9px;
    left: 713px;
    top: 37px;
    background-color: #000000;
  }

  .line6 {
    position: absolute;
    width: 642px;
    height: 9px;
    left: 713px;
    top: 52px;
    background-color: #000000;
  }

  .line7 {
    position: absolute;
    width: 642px;
    height: 9px;
    left: 713px;
    top: 68px;
    background-color: #000000;
  }

  .line8 {
    position: absolute;
    width: 642px;
    height: 9px;
    left: 713px;
    top: 83px;
    background-color: #000000;
  }

  .line9 {
    position: absolute;
    width: 1936px;
    height: 9px;
    left: 1px;
    top: 174px;
    background-color: #000000;
  }

  .line10 {
    position: absolute;
    width: 1936px;
    height: 9px;
    left: 0px;
    top: 191px;
    background-color: #000000;
  }

  .line12 {
    position: absolute;
    width: 633px;
    height: 27px;
    left: 1353px;
    top: 0px;

    background: #330052;
  }

  .line13 {
    position: absolute;
    width: 633px;
    height: 27px;
    left: 1353px;
    top: 38px;

    background: #330052;
  }

  .line14 {
    position: absolute;
    width: 633px;
    height: 27px;
    left: 1353px;
    top: 76px;

    background: #330052;
  }

  .line15 {
    position: absolute;
    width: 1207px;
    height: 9px;
    left: 713px;
    top: 1228px;

    background: black;
  }

  .line16 {
    position: absolute;
    width: 642px;
    height: 9px;
    left: 1355px;
    top: 75px;

    background: black;
  }

  .line17 {
    position: absolute;
    width: 642px;
    height: 9px;
    left: 1355px;
    top: 91px;

    background: black;
  }

  .rect9 {
    position: absolute;
    width: 1207px;
    height: 500px;
    left: 713px;
    top: 200px;

    background: white;
  }

  .video1 {
    position: absolute;
    width: 487px;
    height: 420px;
    left: 881px;
    top: 242px;

    object-fit: cover;
  }

  .image2 {
    position: absolute;
    width: 481px;
    height: 480px;
    left: 724px;
    top: 711px;
  }

  .image3 {
    position: absolute;
    width: 666px;
    height: 465px;
    left: 16px;
    top: 1011px;
  }

  .text7 {
    position: absolute;
    width: 488px;
    height: 81px;
    left: 29px;
    top: 879px;

    font-family: 'Atures 100 PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #000000;
  }

  .text8 {
    position: absolute;
    width: 488px;
    height: 81px;
    left: 157px;
    top: 879px;

    font-family: 'Atures 100 PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #000000;
  }

  .text9 {
    position: absolute;
    width: 488px;
    height: 81px;
    left: 279px;
    top: 879px;

    font-family: 'Atures 100 PERSONAL USE ONLY';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 26px;
    /* or 52% */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .text101 {
    position: absolute;
    width: 636px;
    height: 60px;
    left: 15px;
    top: 204px;

    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    color: #000000;
  }

  .text102 {
    position: absolute;
    width: 636px;
    height: 60px;
    left: 320px;
    top: 204px;

    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    color: #000000;
  }

  .text103 {
    position: absolute;
    width: 636px;
    height: 60px;
    left: 206px;
    top: 264px;

    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    color: #000000;
  }

  .text104 {
    position: absolute;
    width: 636px;
    height: 60px;
    left: 524px;
    top: 264px;

    font-family: 'Hiragino Mincho ProN';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    color: #000000;
  }

  .text12 {
    position: absolute;
    width: 662px;
    height: 90px;
    top: 874px;
    right: 24px;

    font-family: 'Duru Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 120.53%;
    /* or 90px */

    text-align: right;

    color: #df006b;
  }

  .text13 {
    position: absolute;
    width: 389px;
    height: 54px;
    left: 734px;
    top: 960px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;

    color: #5d9600;
  }

  .text14 {
    position: absolute;
    width: 723px;
    height: 353px;
    left: 1385px;
    top: 191px;

    font-family: 'Maker Van';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 120.53%;
    /* or 108px */

    color: #ffe81b;
  }

  .text16 {
    position: absolute;
    width: 603px;
    height: 121px;
    left: 729px;
    top: 280px;

    font-family: Imprima;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text17 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 761px;
    top: 1247px;

    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text18 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1075px;
    top: 1247px;

    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text19 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 761px;
    top: 1357px;

    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text20 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1075px;
    top: 1357px;

    font-family: Arthure;
    font-size: 100px;
    line-height: 120.53%;
    color: #000000;
  }

  .text21 {
    position: absolute;
    width: 94px;
    height: 36px;
    left: 1641px;
    top: 226px;

    font-family: 'Geostar Fill';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    color: #000000;
  }

  .text22 {
    position: absolute;
    width: 164px;
    height: 20px;
    left: 1642px;
    top: 269px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120.53%;

    color: #000000;
  }

  .text24 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1434px;
    top: 1228px;

    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    color: #000000;
  }

  .text25 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1434px;
    top: 1293px;

    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    color: #000000;
  }

  .text26 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1434px;
    top: 1361px;

    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;

    color: #000000;
  }

  .text27 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1434px;
    top: 1418px;

    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    color: #000000;
  }

  .textLumi1 {
    position: absolute;
    width: 191px;
    height: 72px;
    top: 1188px;
    left: 1725px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */

    color: #000000;

    transform: rotate(-90deg);
    transform-origin: left top;
  }

  .textLumi2 {
    position: absolute;
    width: 191px;
    height: 72px;
    top: 1188px;
    left: 1781px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */

    color: #000000;

    transform: rotate(-90deg);
    transform-origin: left top;
  }

  .textLumi3 {
    position: absolute;
    width: 191px;
    height: 72px;
    top: 1188px;
    left: 1837px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120.53%;
    /* or 72px */

    color: #000000;

    transform: rotate(-90deg);
    transform-origin: left top;
  }

  .textLumi4 {
    position: absolute;
    width: 101px;
    height: 60px;
    left: 758px;
    top: 1085px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    color: #ff48e2;
  }

  .textLumi5 {
    position: absolute;
    width: 101px;
    height: 60px;
    left: 880px;
    top: 1085px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    color: #ff48e2;
  }

  .textLumi6 {
    position: absolute;
    width: 101px;
    height: 60px;
    left: 1002px;
    top: 1085px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    color: #ff48e2;
  }

  .textLumi7 {
    position: absolute;
    width: 101px;
    height: 60px;
    left: 758px;
    top: 1143px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    color: #ff48e2;
  }

  .textLumi8 {
    position: absolute;
    width: 101px;
    height: 60px;
    left: 880px;
    top: 1143px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    color: #ff48e2;
  }

  .textLumi9 {
    position: absolute;
    width: 101px;
    height: 60px;
    left: 1002px;
    top: 1143px;

    font-family: 'Kavivanar';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    color: #ff48e2;
  }

  .image4 {
    position: absolute;
    width: 211px;
    height: 149px;
    left: 1642px;
    top: 339px;
  }

  .image5 {
    position: absolute;
    width: 211px;
    height: 149px;
    left: 1646px;
    top: 457px;
  }

  .image6 {
    position: absolute;
    width: 211px;
    height: 149px;
    left: 1865px;
    top: 335px;
  }

  .image7 {
    position: absolute;
    width: 211px;
    height: 149px;
    left: 1868px;
    top: 466px;
  }

  .image8 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 734px;
    top: 228px;
  }

  .image9 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 795px;
    top: 228px;
  }

  .image10 {
    position: absolute;
    width: 875px;
    height: 414px;
    left: 870px;
    top: 855px;
  }

  .image11 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 962px;
    top: 1265px;
  }

  .image12 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 1023px;
    top: 1265px;
  }

  .image13 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 1084px;
    top: 1265px;
  }

  .image14 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 1181px;
    top: 1265px;
  }

  .image15 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 1242px;
    top: 1265px;
  }

  .image16 {
    position: absolute;
    width: 47px;
    height: 440px;
    left: 1303px;
    top: 1265px;
  }

  .text14 {
    position: absolute;
    width: 723px;
    height: 353px;
    left: 1385px;
    top: 191px;

    font-family: 'Maker Van';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 120.53%;
    /* or 108px */

    color: #ffe81b;
  }

  .text11 {
    position: absolute;
    width: 371px;
    height: 230px;
    left: 1286px;
    top: 489px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 120.53%;
    /* or 108px */

    text-align: right;

    color: #000000;
  }

  .text2 {
    position: absolute;
    width: 293px;
    height: 54px;
    left: 10px;
    top: 587px;

    font-family: 'Duru Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 120.53%;
    /* or 54px */

    text-align: right;

    color: #ffa800;
    transform-origin: left top;

    transform: rotate(-90deg);
  }

  .text3 {
    position: absolute;
    width: 197px;
    height: 21px;
    left: 64px;
    top: 587px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */

    color: #000000;
    transform-origin: left top;
    transform: rotate(-90deg);
  }

  .text4 {
    position: absolute;
    width: 178px;
    height: 48px;
    left: 16px;
    top: 879px;

    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120.53%;
    /* or 48px */

    text-align: right;

    color: #001aff;
  }

  .text5 {
    position: absolute;
    width: 493px;
    height: 60px;
    left: 16px;
    top: 937px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120.53%;
    /* or 60px */

    text-align: right;

    color: #000000;
  }

  .text35 {
    position: absolute;
    width: 146px;
    height: 22px;
    left: 634px;
    top: 1025px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120.53%;
    /* or 24px */

    text-align: right;

    color: #000000;

    transform-origin: left top;
    transform: rotate(-90deg);
  }

  .rect10 {
    position: absolute;
    width: 687px;
    height: 269px;
    left: 713px;
    top: 1228px;

    background: #4a456c;
  }

  .text6 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 761px;
    top: 1247px;

    font-family: 'Arthure';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */

    color: #000000;
  }

  .text7 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1075px;
    top: 1247px;

    font-family: 'Arthure';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */

    color: #000000;
  }

  .text8 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 761px;
    top: 1357px;

    font-family: 'Arthure';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */

    color: #000000;
  }

  .text9 {
    position: absolute;
    width: 280px;
    height: 121px;
    left: 1075px;
    top: 1357px;

    font-family: 'Arthure';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120.53%;
    /* identical to box height, or 121px */

    color: #000000;
  }

  .text28 {
    position: absolute;
    width: 183px;
    height: 28px;
    left: 1694px;
    top: 621px;

    font-family: 'Geostar Fill';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #000000;
  }

  .text29 {
    position: absolute;
    width: 807px;
    height: 180px;
    top: 748px;
    right: 48px;

    font-family: 'Duru Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 120.53%;
    /* or 90px */

    text-align: right;

    color: #df006b;
  }

  .text30 {
    position: absolute;
    width: 483px;
    height: 178px;
    top: 1039px;
    right: -6px;

    font-family: 'Aubrey';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 120.53%;
    /* or 121px */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .text31 {
    position: absolute;
    width: 319px;
    height: 36px;
    left: 1849px;
    top: 670px;

    font-family: 'Geostar Fill';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #000000;

    transform: rotate(-90deg);
    transform-origin: left top;
  }

  .text32 {
    position: absolute;
    width: 180px;
    height: 36px;
    top: 843px;
    left: 1727px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #000000;
  }

  .text33 {
    position: absolute;
    width: 180px;
    height: 36px;
    top: 887px;
    left: 1727px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #000000;
  }

  .text34 {
    position: absolute;
    width: 180px;
    height: 36px;
    top: 931px;
    left: 1727px;

    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    /* or 36px */

    color: #000000;
  }

  .line18 {
    position: absolute;
    width: 713px;
    height: 9px;
    left: 0px;
    top: 855px;

    background: #000000;
  }

  .image1 {
    position: absolute;
    width: 487px;
    height: 492px;
    left: 195px;
    top: 329px;
  }

  .image3 {
    position: absolute;
    width: 666px;
    height: 465px;
    left: 16px;
    top: 1011px;
  }

  .image17 {
    position: absolute;
    width: 187px;
    height: 89px;
    left: 90px;
    top: 465px;
    transform: rotate(-90deg);
    transform-origin: top left;
  }

  .image18 {
    position: absolute;
    width: 187px;
    height: 89px;
    left: -22px;
    top: 628px;
  }

  .image19 {
    position: absolute;
    width: 187px;
    height: 89px;
    left: -22px;
    top: 732px;
  }
}
