@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  color: white;
  display: flex;
  position: relative;
  background-color: #e82d4f;

  h1 {
    position: absolute;
    width: 1806px;
    height: 1482px;
    left: 104px;
    top: 342px;

    font-family: A DAY WITHOUT SUN;
    font-style: normal;
    font-weight: 400;
    font-size: 1750px;
    line-height: 2184px;
    display: flex;
    align-items: center;

    color: #ffffff;
  }

  .text1 {
    position: absolute;
    width: 1343px;
    height: 85px;
    left: 48px;
    top: 1428px;

    font-family: Abel;
    font-size: 20px;
    line-height: 25px;

    color: #ffffff;

    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
}
