@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: black;

  .text1 {
    position: absolute;
    width: 781px;
    height: 140px;
    left: 97px;
    top: 45px;

    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
    /* or 127% */

    color: #ffffff;
  }

  .text2 {
    position: absolute;
    width: 747px;
    height: 1228px;
    left: 97px;
    top: 212px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    /* or 140% */

    color: #ffffff;
  }

  .text3 {
    position: absolute;
    width: 1119px;
    height: 251px;
    left: 878px;
    top: 167px;

    font-family: 'Akira Expanded';
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    line-height: 80px;
    /* or 94% */

    text-align: center;

    color: #ffffff;
  }

  .text4 {
    position: absolute;
    width: 846px;
    height: 96px;
    left: 1015px;
    top: 433px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    /* or 140% */

    text-align: center;

    color: #ffffff;
  }

  .f3m {
    position: absolute;
    width: 148px;
    height: 331px;
    left: 1077px;
    top: 607px;

    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 183px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #4e4aff;
  }

  .f3m2 {
    position: absolute;
    width: 200px;
    height: 162px;
    left: 1103px;
    top: 772px;

    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 116px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #4e4aff;
  }

  .f3m3 {
    position: absolute;
    width: 918px;
    height: 233px;
    left: 1166px;
    top: 656px;

    font-family: 'NewYork';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 183px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #4e4aff;
  }

  .guerilla {
    position: absolute;
    width: 696px;
    height: 50px;
    left: 1077px;
    top: 914px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }

  .nft {
    position: absolute;
    width: 96px;
    height: 35px;
    left: 1092px;
    top: 993px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */

    text-align: center;

    color: #ffffff;
  }

  .collect {
    position: absolute;
    width: 125px;
    height: 37px;
    left: 1077px;
    top: 993px;

    background: #4e4aff;
    border-radius: 15px;
  }

  .text5 {
    position: absolute;
    width: 846px;
    height: 96px;
    left: 1015px;
    top: 1273px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    /* or 140% */

    text-align: center;

    color: #ffffff;
  }

  .video {
    position: absolute;
    width: 960px;
    height: 554px;
    left: 960px;
    top: 621px;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 960px;
    height: 554px;
    left: 960px;
    top: 621px;

    background: rgba(255, 239, 98, 0.7);
  }
}
