@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;
  color: white;
  display: flex;
  position: relative;

  .imageBackground2 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 518px;
    height: 76px;
    left: 32px;
    top: 44px;
  }

  .text1 {
    position: absolute;
    width: 756px;
    height: 88px;
    left: 70px;
    top: 103px;

    font-family: Julietta Messie Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 110%;

    color: #8e35ff;
  }

  .text4 {
    position: absolute;
    width: 664px;
    height: 15px;
    left: 1234px;
    top: 31px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
    /* identical to box height, or 50% */

    color: #bad436;

    cursor: pointer;
    transition: transform 0.3s all;

    &:hover {
      transition: transform 0.3s all;
      transform: scale(1.05);
    }
  }

  .text5 {
    position: absolute;
    width: 664px;
    height: 90px;
    left: 1234px;
    top: 57px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* or 150% */

    color: #bad436;
  }

  a {
    div {
      cursor: pointer;
      transition: 0.3s all;

      &:hover {
        transition: 0.3s all;
        transform: scale(1.1);
      }
    }
  }
}
