@import './styles.module.scss';
.wrapper {
  @include magazineWrapper();

  .leftBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }

  .rightBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
    object-fit: cover;
  }
  .text1 {
    position: absolute;
    width: 644px;
    height: 56px;
    left: 19px;
    top: 1369px;

    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;

    color: #888b00;
  }

  .text2 {
    position: absolute;
    width: 512px;
    height: 32px;
    left: 19px;
    top: 1434px;

    font-family: Sofadi One;
    font-size: 60px;
    line-height: 28px;
    color: #627a00;

    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .text3 {
    position: absolute;
    width: 403px;
    height: 60px;
    left: 1500px;
    top: 24px;
    
    font-family: Song Myung;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    
    color: #A3BD4E;    
  }

  .text4 {
    position: absolute;
    width: 115px;
    height: 32px;
    left: 1788px;
    top: 115px;
    
    font-family: Song Myung;
    font-size: 60px;
    line-height: 28px;
    text-align: right;
    
    color: #A3BD4E;

    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }
}
