@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  color: black;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .rect1 {
    position: absolute;
    width: 753px;
    height: 1303px;
    left: 93px;
    top: 83px;
    
    background: rgba(128, 239, 209, 0.85);    
  }

  .rect2 {
    position: absolute;
    width: 753px;
    height: 1303px;
    left: 1077px;
    top: 83px;
    
    background: rgba(128, 239, 209, 0.85);
  }

  .text1 {
    position: absolute;
    width: 676px;
    height: 1196px;
    left: 146px;
    top: 107px;
    
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 100%;
    color: #000000;
    
  }

  .text2 {
    position: absolute;
    width: 676px;
    height: 1196px;
    left: 1117px;
    top: 114px;
    
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    color: #000000;    
  }
}

