@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;


  .rect1 {
    position: absolute;
    width: 713px;
    height: 174px;
    left: 0px;
    top: 174px;
    
    background: #FF35DF;
    transform-origin: 0 0;
    transform: matrix(1, 0, 0, -1, 0, 0);    
  }

  .rect2 {
    position: absolute;
    width: 1920px;
    height: 27px;
    left: 0px;
    top: 1297px;
    
    background: #C930FF;
  }

  .rect3 {
    position: absolute;
    width: 1920px;
    height: 74px;
    left: 0px;
    top: 1406px;
    
    background: #3AC4FF;
  }

  .line1 {
    position: absolute;
    width: 800px;
    height: 9px;
    left: 714px;
    top: 800px;
    
    background-color: black;
    transform-origin: 0 0;
    transform: rotate(-90deg);    
  }

  .line2 {
    position: absolute;
    width: 800px;
    height: 9px;
    left: 1337px;
    top: 800px;
    
    background-color: black;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .line3 {
    position: absolute;
    width: 500px;
    height: 9px;
    left: 1152px;
    top: 1297px;
    
    background-color: black;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .line4 {
    position: absolute;
    width: 2138px;
    height: 9px;
    left: 2138px;
    top: 800px;
    
    background-color: black;
    transform-origin: 0 0;
    transform: rotate(180deg);
  }

  .line5 {
    position: absolute;
    width: 1920px;
    height: 9px;
    left: 0px;
    top: 1332px;
    
    background-color: black;
  }

  .line6 {
    position: absolute;
    width: 1920px;
    height: 9px;
    left: 0px;
    top: 1348px;
    
    background-color: black;
  }

  .line7 {position: absolute;
    width: 1920px;
    height: 9px;
    left: 0px;
    top: 1364px;
    
    background-color: black;
  }

  .line8 {
    position: absolute;
    width: 1920px;
    height: 9px;
    left: 0px;
    top: 1381px;
    
    background-color: black;
  }

  .line9 {
    position: absolute;
    width: 1955px;
    height: 9px;
    left: -35px;
    top: 1471px;
    
    background-color: black;
  }

  .line10 {
    position: absolute;
    width: 1958px;
    height: 9px;
    left: -38px;
    top: 1488px;
    
    background-color: black;
  }

  .circle1 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 14px;
    top: 686px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle2 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 129px;
    top: 564px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle3 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 119px;
    top: 665px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle4 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 244px;
    top: 641px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle5 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 199px;
    top: 744px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle6 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 346px;
    top: 587px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle7 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 334px;
    top: 710px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle8 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 440px;
    top: 669px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle9 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 530px;
    top: 586px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle10 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 533px;
    top: 731px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .circle11 {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 623px;
    top: 677px;
    
    background: #403DFF;
    border-radius: 50%;
  }

  .image1 {
    position: absolute;
    width: 403px;
    height: 194px;
    left: 1011px;
    top: 1287px;
    transform-origin: 0 0;
    transform: rotate(-90deg); 
  }

  .text1 {
    position: absolute;
    width: 511px;
    height: 151px;
    left: -66px;
    top: 12px;
    
    font-family: Artypa;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    
    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 294px;
    height: 120px;
    left: 27px;
    top: 624px;
    
    font-family: "The ART-Light";
    font-size: 50px;
    line-height: 120.53%;
    color: #3994FF;
    -webkit-text-stroke: 1px #000000;
  }

  .text3 {
    position: absolute;
    width: 240px;
    height: 60px;
    left: 32px;
    top: 677px;
    
    font-family: "The ART-Light";
    font-size: 50px;
    line-height: 120.53%;
    color: #20E800;
    -webkit-text-stroke: 1px #000000;
  }

  .text4 {
    position: absolute;
    width: 201px;
    height: 36px;
    left: 492px;
    top: 632px;
    
    font-family: "The ART-Light";
    font-size: 30px;
    line-height: 120.53%;
    color: #061F3E;
  }

  .text5 {
    position: absolute;
    width: 450px;
    height: 60px;
    left: 744px;
    top: 8px;
    
    font-family: Thicker Trial;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 120.53%;
    color: #52FF00;
    -webkit-text-stroke: 1px #33640E;
  }

  .text6 {
    position: absolute;
    width: 254px;
    height: 24px;
    left: 744px;
    top: 72px;
    
    font-family: Think Thick;
    font-size: 20px;
    line-height: 120.53%;
    color: #061F3E;
  }

  .text7 {
    position: absolute;
    width: 349px;
    height: 24px;
    left: 983px;
    top: 67px;
    
    font-family: Think Thick;
    font-size: 20px;
    line-height: 120.53%;
    color: #28A771;        
  }

  .text8 {
    position: absolute;
    width: 502px;
    height: 70px;
    left: 1356px;
    top: 562px;
    
    font-family: PartyLET;
    font-size: 100px;
    line-height: 120.53%;
    
    color: #FF0000;
  }

  .text9 {
    position: absolute;
    width: 336px;
    height: 108px;
    left: 1359px;
    top: 656px;
    
    font-family: "Honey and Raspberries";
    font-size: 40px;
    line-height: 120.53%;
    color: #FF0060;
  }

  .text10 {
    position: absolute;
    width: 371px;
    height: 108px;
    left: 1359px;
    top: 705px;
    
    font-family: "Honey and Raspberries";
    font-size: 40px;
    line-height: 120.53%;
    color: #FF0060;
  }

  .text11 {
    position: absolute;
    width: 336px;
    height: 108px;
    left: 1359px;
    top: 748px;
    
    font-family: "Honey and Raspberries";
    font-size: 40px;
    line-height: 120.53%;
    color: #FF0060;    
  }

  .text12 {
    position: absolute;
    width: 167px;
    height: 17px;
    left: 1705px;
    top: 673px;
    
    font-family: Think Thick;
    font-size: 14px;
    line-height: 120.53%;
    color: #8E4C9D;    
  }

  .text13 {
    position: absolute;
    width: 167px;
    height: 17px;
    left: 1705px;
    top: 721px;
    
    font-family: Think Thick;
    font-size: 14px;
    line-height: 120.53%;
    color: #8E4C9D;    
  }

  .text14 {
    position: absolute;
    width: 167px;
    height: 17px;
    left: 1705px;
    top: 768px;
    
    font-family: Think Thick;
    font-size: 14px;
    line-height: 120.53%;
    color: #8E4C9D;    
  }

  .text15 {
    position: absolute;
    width: 459px;
    height: 65px;
    left: 882px;
    top: 1278px;
    
    font-family: Carter One;
    font-size: 70px;
    line-height: 65px;
    color: #E7A600;
    
    -webkit-text-stroke: 1px #594600;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text16 {
    position: absolute;
    width: 203px;
    height: 54px;
    left: 952px;
    top: 1029px;
    
    font-family: Zapf Dingbats;
    font-size: 45px;
    line-height: 120.53%;
    color: #BA2D2C;
    
    -webkit-text-stroke: 1px #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text17 {
    position: absolute;
    width: 203px;
    height: 54px;
    left: 953px;
    top: 1272px;
    
    font-family: Zapf Dingbats;
    font-size: 45px;
    line-height: 120.53%;
    color: #BA2D2C;

    -webkit-text-stroke: 1px #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text18 {
    position: absolute;
    width: 197px;
    height: 25px;
    left: 937px;
    top: 829px;

    font-family: Imprima;
    font-size: 20px;
    line-height: 120.53%;
    text-align: right;

    color: #000000;
  }

  .text19 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 817px;
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .text20 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 882px;
    
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .text21 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 950px;
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .text22 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 1024px;
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .text23 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 1089px;
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .text24 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 1157px;
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .text25 {
    position: absolute;
    width: 1018px;
    height: 84px;
    left: 1221px;
    top: 1214px;
    
    font-family: Maker Van;
    font-size: 60px;
    line-height: 120.53%;
    
    color: #000000;
    
    span {
      font-family: Arthure;
      font-size: 70px;
    }
  }

  .image2 {
    position: absolute;
    width: 666px;
    height: 409px;
    left: 27px;
    top: 200px;    
  }

  .image3 {
    position: absolute;
    width: 567px;
    height: 673px;
    left: 744px;
    top: 110px;
  }

  .image4 {
    position: absolute;
    width: 537px;
    height: 536px;
    left: 1363px;
    top: 11px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .video1 {
    position: absolute;
    width: 852px;
    height: 473px;
    left: 14px;
    top: 819px;    
  }
}