@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;

  .image1 {
    position: absolute;
    width: 262px;
    height: 1640px;
    left: -48px;
    top: -2px;
  }

  .rightImage {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image2 {
    position: absolute;
    width: 771px;
    height: 1045px;
    left: 531px;
    top: 455px;
  }

  .image3 {
    position: absolute;
    width: 154.85px;
    height: 154.85px;
    left: 355px;
    top: 521.96px;

    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }

  .video1 {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: 21px;
    top: -369px;
  }

  .text1 {
    position: absolute;
    width: 80px;
    height: 842px;
    left: 279px;
    top: 609px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */

    color: #47deff;

    -webkit-text-stroke: 3px #47deff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
  }

  .text2 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: 389px;
    top: 1464px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 100%;
    color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text3 {
    position: absolute;
    width: 722px;
    height: 63px;
    left: 1075px;
    top: 36px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 120.53%;
    /* or 66px */

    color: #ffffff;
  }

  .text4 {
    position: absolute;
    width: 255px;
    height: 64px;
    left: 1075px;
    top: 106px;

    font-family: Coda;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 120%;
    /* or 42px */

    color: #ffffff;
  }

  .text5 {
    position: absolute;
    width: 255px;
    height: 64px;
    left: 1312px;
    top: 106px;

    font-family: Coda;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 120%;
    /* or 42px */

    color: #ffffff;
  }

  .text6 {
    position: absolute;
    width: 255px;
    height: 64px;
    left: 1075px;
    top: 151px;

    font-family: Coda;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 120%;
    /* or 42px */

    color: #ffffff;
  }

  .text7 {
    position: absolute;
    width: 255px;
    height: 64px;
    left: 1312px;
    top: 151px;

    font-family: Coda;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 120%;
    /* or 42px */

    color: #ffffff;
  }

  .link1 {
    position: absolute;
    width: 314px;
    height: 314px;
    left: 1571px;
    top: 16px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
  }

  .text8 {
    position: absolute;
    width: 331.3px;
    height: 465.08px;
    left: 1096px;
    top: 261.53px;

    font-family: Delius Unicase;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    /* or 18px */

    color: #002072;
    transform-origin: 0 0;
    transform: rotate(-10deg);
  }

  .text9 {
    position: absolute;
    width: 214.55px;
    height: 528.59px;
    left: 1296.07px;
    top: 665px;

    font-family: Delius Unicase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;

    color: #0047ff;
    transform-origin: 0 0;
    transform: rotate(5deg);
  }

  .text10 {
    position: absolute;
    width: 318px;
    height: 954px;
    left: 1558px;
    top: 393px;
    
    font-family: Delius Unicase;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    color: #002072;
  }
}
