@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FFFFFF;

  .imageBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 231px;
    height: 231px;
    left: -39px;
    top: -9px;    
  }

  .image2 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 4px;
    top: 229px;    
  }

  .image3 {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 13px;
    top: 287px;
  }

  .image4 {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 53px;
    top: 276px;
  }

  .image5 {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 64px;
    top: 241px;
  }

  .image6 {
    position: absolute;
    width: 94px;
    height: 94px;
    left: 99px;
    top: 229px;
  }

  .image7 {
    position: absolute;
    width: 144px;
    height: 144px;
    left: 0px;
    top: 313px;
  }

  .text1 {
    position: absolute;
    width: 573px;
    height: 33px;
    left: 228px;
    top: 140px;
    
    font-family: Courier;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120.53%;
    color: #000000;    
  }

  .text2 {
    position: absolute;
    width: 624px;
    height: 992px;
    left: 228px;
    top: 184px;
    
    font-family: Courier New;
    font-size: 18px;
    line-height: 120.53%;
    color: #000000;
  }

  .text3 {
    position: absolute;
    width: 288px;
    height: 22px;
    left: 227px;
    top: 1248px;
    
    font-family: Courier New;
    font-size: 18px;
    line-height: 120.53%;
    color: #000000;
  }
}