@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FD96FF;
  color: white;
  display: flex;
  position: relative;
  
  .rect1 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 315px;
    top: 0px;
    
    background: #236348;    
  }
  
  .rect2 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 443px;
    top: 0px;
    
    background: #703784;
  }
  
  .rect3 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 571px;
    top: 0px;
    
    background: #859696;
  }
  
  .rect4 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 699px;
    top: 0px;
    
    background: #D6543A;
  }
  
  .rect5 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 960px;
    top: 0px;
    
    background: #236348;
  }
  
  .rect6 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 1088px;
    top: 0px;
    
    background: #703784;
  }
  
  .rect7 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 1216px;
    top: 0px;
    
    background: #859696;
  }
  
  .rect8 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 1344px;
    top: 0px;
    
    background: #D6543A;
  }
  
  .rect9 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 1605px;
    top: 0px;
    
    background: #236348;
  }
  
  .rect10 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 1733px;
    top: 0px;
    
    background: #703784;
  }
  
  .rect11 {
    position: absolute;
    width: 128px;
    height: 1497px;
    left: 1861px;
    top: 0px;
    
    background: #859696;
  }

  .image1 {
    position: absolute;
    width: 394.78px;
    height: 668.96px;
    left: -16px;
    top: 828px;
  }

  .image2 {
    position: absolute;
    width: 394.78px;
    height: 668.96px;
    left: 1594px;
    top: -45px;    
  }

  .image3 {
    position: absolute;
    width: 678px;
    height: 578px;
    left: -61px;
    top: 0px;
  }

  .image4 {
    position: absolute;
    width: 282px;
    height: 240px;
    left: 0px;
    top: 578px;
  }

  .image5 {
    position: absolute;
    width: 245px;
    height: 209px;
    left: 446px;
    top: 1417px;
    
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .image6 {
    position: absolute;
    width: 678px;
    height: 578px;
    left: 442px;
    top: 1269px;
  }

  .image7 {
    position: absolute;
    width: 245px;
    height: 209px;
    left: 1157px;
    top: 1497px;
    
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .image8 {
    position: absolute;
    width: 678px;
    height: 578px;
    left: 1344px;
    top: 134px;
  }

  .text1 {
    position: absolute;
    width: 300px;
    height: 360px;
    left: 638px;
    top: 43px;
    
    font-family: Bowlby One SC;
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 492px;
    height: 680px;
    left: 446px;
    top: 373px;
    
    font-family: Bowlby One SC;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 516px;
    height: 205px;
    left: 1012px;
    top: 43px;
    
    font-family: Bowlby One SC;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;    
  }

  .text4 {
    position: absolute;
    width: 296px;
    height: 680px;
    left: 1012px;
    top: 302px;
    
    font-family: Bowlby One SC;
    font-size: 25px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 444px;
    height: 680px;
    left: 1393px;
    top: 753px;
    
    font-family: Bowlby One SC;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
  }
}