@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #FF2727;

  .image1 {
    position: absolute;
    width: 900px;
    height: 843.96px;
    left: 1062px;
    top: 675px;    
  }

  .circle1 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 1385px;
    top: -314px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);    
  }

  .circle2 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 1499px;
    top: 114px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .circle3 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 951px;
    top: 379px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%); 
  }

  .circle4 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 1447px;
    top: 473px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .circle5 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 745px;
    top: 664px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .circle6 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 955px;
    top: 1098px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .circle7 {
    position: absolute;
    width: 599px;
    height: 599px;
    left: 1616px;
    top: 1021px;
    
    background: radial-gradient(50% 50% at 50% 50%, #7AFFA7 0%, rgba(0, 56, 19, 0) 100%);
  }

  .ring1 {
    position: absolute;
    width: 297px;
    height: 297px;
    left: -23px;
    top: 330px;    
  }

  .ring2 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: -1px;
    top: 1077px;    
  }

  .ring3 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 193px;
    top: 980px;
  }

  .ring4 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 420px;
    top: 893px;
  }

  .ring5 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 767px;
    top: 921px;
  }

  .ring6 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 151px;
    top: 1223px;
    
  }

  .ring7 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 583px;
    top: 1072px;
  }

  .ring8 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: -11px;
    top: 1386px;
  }

  .ring9 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 335px;
    top: 1364px;
  }

  .ring10 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 550px;
    top: 1289px;
  }

  .ring11 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 753px;
    top: 1183px;
  }

  .ring12 {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 753px;
    top: 1416px;
  }

  .image2 {
    position: absolute;
    width: 514px;
    height: 370px;
    left: 183px;
    top: 1028px;        
  }

  .image3 {
    position: absolute;
    width: 443px;
    height: 319px;
    left: 1045px;
    top: 753px;
  }

  .image4 {
    position: absolute;
    width: 514px;
    height: 370px;
    left: 1393px;
    top: 1105px;
  }

  .rect1 {
    position: absolute;
    width: 819px;
    height: 186px;
    left: -1px;
    top: 115px;
    
    background: rgba(0, 0, 0, 0.24);
    border: 3px solid #FFFFFF;    
  }

  .rect2 {
    position: absolute;
    width: 661px;
    height: 283px;
    left: 290px;
    top: 326px;
    
    background: rgba(0, 0, 0, 0.24);
    border: 3px solid #FFFFFF;
  }

  .rect3 {
    position: absolute;
    width: 661px;
    height: 230px;
    left: 0px;
    top: 656px;
    
    background: rgba(0, 0, 0, 0.24);
    border: 3px solid #FFFFFF;
  }

  .text1 {
    position: absolute;
    width: 581px;
    height: 86px;
    left: 29px;
    top: 29px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    
    color: #FFFFFF;
    -webkit-text-stroke: 5px #11FF29;

    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }
  }

  .text2 {
    position: absolute;
    width: 758px;
    height: 138px;
    left: 29px;
    top: 132px;
    
    font-family: Gelasio;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 199px;
    height: 120px;
    left: 25px;
    top: 430px;
    
    font-family: Post No Bills Colombo;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
    
  }

  .text4 {
    position: absolute;
    width: 597px;
    height: 237px;
    left: 322px;
    top: 354px;
    
    font-family: Gelasio;
    font-size: 21px;
    line-height: 22px;
    color: #FFFFFF;    
  }

  .text5 {
    position: absolute;
    width: 607px;
    height: 262px;
    left: 31px;
    top: 680px;
    
    font-family: Gelasio;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
  }

  .text6 {
    position: absolute;
    width: 345px;
    height: 69px;
    left: 1006px;
    top: 17px;
    
    font-family: Romanesco;
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
  }

  .text7 {
    position: absolute;
    width: 345px;
    height: 69px;
    left: 1006px;
    top: 80px;
    
    font-family: Romanesco;
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;    
  }

  .text8 {
    position: absolute;
    width: 404px;
    height: 540px;
    left: 1009px;
    top: 165px;
    
    font-family: ROMANUS;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    
    color: #F4FF78;    
  }

  .text9 {
    position: absolute;
    width: 355px;
    height: 76px;
    left: 1442px;
    top: -2px;
    
    font-family: Gelasio;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 76px;
    
    color: #5599FF;
  }

  .text10 {
    position: absolute;
    width: 355px;
    height: 76px;
    left: 1442px;
    top: 74px;
    
    font-family: Gelasio;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 76px;
    
    color: #5599FF;
        
  }

  .text11 {
    position: absolute;
    width: 355px;
    height: 76px;
    left: 1442px;
    top: 150px;
    
    font-family: Gelasio;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 76px;
    
    color: #5599FF;
    
  }

  .text12 {
    position: absolute;
    width: 464px;
    height: 525px;
    left: 1418px;
    top: 224px;
    
    font-family: ROMANUS;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
  }

  .text13 {
    position: absolute;
    width: 379px;
    height: 147px;
    left: 1512px;
    top: 753px;
    
    font-family: ROMANUS;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
  }
}

.ring {
  position: absolute;
  background: #FFDD64;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  display: flex;

  .innerRing {
    width: 80%;
    height: 80%;
    margin: auto;
    background: #ADF267;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
  }
}