@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .text1 {
    position: absolute;
    width: 256px;
    height: 74px;
    left: 673px;
    top: 29px;

    font-family: Sree Krushnadevaraya;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 28px;
    /* or 37% */

    color: #b07f53;
    transition: 0.3s all;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .text2 {
    position: absolute;
    width: 276px;
    height: 226px;
    left: 653px;
    top: 88px;

    font-family: Sree Krushnadevaraya;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    text-align: right;

    color: #b07f53;
  }
}
