.wrapper {
  display: flex;
  flex-direction: column;
  width: 190px;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  margin-bottom: 70px;

  .photo {
    width: 190px;
    height: 190px;
    object-fit: cover;
    object-position: center center;
    border-radius: 190px;
    text-align: center;
    transition: 0.3s all;
  }

  .noPhoto {
    width: 190px;
    height: 190px;
    background: gray;
    border-radius: 50%;
  }

  .name {
    margin-top: 15px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    font-family: Inter;
    width: 190px;

    transition: 0.3s all;
    word-wrap: break-word;
    color: black;
  }

  .country {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 10px;

    .flagIcon {
      width: 27px;
    }

    .countryName {
      font-size: 0.75rem;
      line-height: 15px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      margin-left: 11px;
      font-weight: bold;
    }
  }

  .social {
    margin-top: 5px;
  }


  transition: 0.3s all;
  

  &:hover {
    transition: 0.3s all;
    transform: scale(1.1);

    .name {
      transition: 0.3s all;
      transform: scale(1.2) translateY(-120px);
      color: white;
      text-shadow: 2px 2px 5px black;
    }

    .photo {
      transition: 0.3s all;
      -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
      filter: blur(5px);
      
    }
  }
}
