@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: white;
  color: white;
  display: flex;
  position: relative;

  .video1 {
    position: absolute;
    width: 1920;
    height: 1497px;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 1973px;
    height: 1517px;
    left: -49px;
    top: 1px;
    
    background: rgba(0, 0, 0, 0.4);    
  }

  h1 {
    position: absolute;
    width: 1331px;
    height: 400px;
    left: 294px;
    top: 590px;

    font-family: Heaven Wanders DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    line-height: 100%;
    /* or 200px */

    text-align: center;

    color: #FFFFFF;
  }

  .imageEarth {
    position: absolute;
    width: 116px;
    height: 423px;
    left: 903px;
    top: 1074px;
  }

  .middleLine1 {
    position: absolute;
    width: 0px;
    height: 515px;
    left: 960px;
    top: 0px;

    border: 1px solid #FFFFFF;
  }

  .middleLine2 {
    position: absolute;
    width: 0px;
    height: 423px;
    left: 960px;
    top: 1074px;
    
    border: 0.5px solid #FFFFFF;
  }

  .text1 {
    position: absolute;
    width: 853px;
    height: 148px;
    left: 50px;
    top: 58px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120.53%;
    color: #FFFFFF; 
  }

  .text2 {
    position: absolute;
    width: 853px;
    height: 148px;
    left: 50px;
    top: 119px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text3 {
    position: absolute;
    width: 853px;
    height: 148px;
    left: 50px;
    top: 183px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text4 {
    position: absolute;
    width: 853px;
    height: 148px;
    left: 50px;
    top: 257px;
    
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text5 {
    position: absolute;
    width: 868px;
    height: 251px;
    left: 50px;
    top: 331px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text6 {
    position: absolute;
    width: 457px;
    height: 131px;
    left: 50px;
    top: 640px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text7 {
    position: absolute;
    width: 634px;
    height: 131px;
    left: 50px;
    top: 782px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 891px;
    height: 600px;
    left: 984px;
    top: 18px;
    
    font-family: Gudea;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    color: #FFFFFF;
  }

  .text9 {
    position: absolute;
    width: 453px;
    height: 186px;
    left: 1430px;
    top: 599px;
    
    font-family: Gudea;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text10 {
    position: absolute;
    width: 632px;
    height: 186px;
    left: 1256px;
    top: 785px;
    
    font-family: Gudea;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text11 {
    position: absolute;
    width: 829px;
    height: 112px;
    left: 1063px;
    top: 962px;
    
    font-family: Gudea;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .text12 {
    position: absolute;
    width: 817px;
    height: 277px;
    left: 1063px;
    top: 1117px;
    
    font-family: Times;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .image1 {
    position: absolute;
    width: 512px;
    height: 512px;
    left: -105px;
    top: 948px;    
  }

  .image2 {
    position: absolute;
    width: 306.23px;
    height: 306.23px;
    left: 238px;
    top: 1005.74px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .image3 {
    position: absolute;
    width: 227.43px;
    height: 227.43px;
    left: 566.34px;
    top: 1052.85px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .image4 {
    position: absolute;
    width: 220.93px;
    height: 220.93px;
    left: 401px;
    top: 1327.56px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

  .image5 {
    position: absolute;
    width: 196.27px;
    height: 196.27px;
    left: 635px;
    top: 1327.56px;
    
    transform-origin: 0 0;
    transform: rotate(-20deg);
  }

}