@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background:#DD4200;

  .image1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }

  .circle1 {
    position: absolute;
    width: 154px;
    height: 154px;
    left: 197px;
    top: -30px;
    
    background: radial-gradient(50% 50% at 50% 50%, #00FF47 0%, rgba(255, 0, 0, 0) 100%);
    border: 10px solid #000000;
    border-radius: 50%;
  }

  .circle2 {
    position: absolute;
    width: 137px;
    height: 137px;
    left: 69px;
    top: 78px;
    
    background: radial-gradient(50% 50% at 50% 50%, #00FF47 0%, rgba(255, 0, 0, 0) 100%);
    border: 10px solid #000000;
    border-radius: 50%;
  }

  .circle3 {
    position: absolute;
    width: 308px;
    height: 308px;
    left: 120px;
    top: 185px;
    
    background: radial-gradient(50% 50% at 50% 50%, #00FF47 0%, rgba(255, 0, 0, 0) 100%);
    border: 10px solid #000000;
    border-radius: 50%;
  }

  .circle4 {
    position: absolute;
    width: 308px;
    height: 308px;
    left: 637px;
    top: 572px;
    
    background: radial-gradient(50% 50% at 50% 50%, #00FF47 0%, rgba(255, 0, 0, 0) 100%);
    border: 10px solid #000000;
    border-radius: 50%;
  }

  .circle5 {
    position: absolute;
    width: 308px;
    height: 308px;
    left: 391px;
    top: 1281px;
    
    background: radial-gradient(50% 50% at 50% 50%, #00FF47 0%, rgba(255, 0, 0, 0) 100%);
    border: 10px solid #000000;
    border-radius: 50%;
  }

  .rect1 {
    position: absolute;
    width: 960px;
    height: 679px;
    left: 960px;
    top: 0px;
    background: #bfbb98;
  }

  .rect2 {
    position: absolute;
    width: 960px;
    height: 818px;
    left: 960px;
    top: 679px;
    background: #1b1f0f;
  }

  .text1 {
    position: absolute;
    width: 960px;
    height: 684px;
    left: 0px;
    top: 726px;
    
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    line-height: 150px;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 274px;
    height: 174px;
    left: 0px;
    top: 1323px;
    
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 33px;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FFFFFF;
  }

  a {
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .image2 {
    position: absolute;
    width: 283px;
    height: 236px;
    left: 1637px;
    top: 0px;    
  }

  .image3 {
    position: absolute;
    width: 833px;
    height: 529px;
    left: 1118px;
    top: 993px;    
  }

  .text3 {
    position: absolute;
    width: 205px;
    height: 33px;
    left: 995px;
    top: 47px;
    
    font-family: 'Saira ExtraCondensed';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 33px;

    color: #DB4F54;
    -webkit-text-stroke: 1px #DB4F54;

    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }

  .text4 {
    position: absolute;
    width: 623px;
    height: 160px;
    left: 995px;
    top: 131px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #DB4F54;

    a {
      color: #DB4F54;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text5 {
    position: absolute;
    width: 895px;
    height: 100px;
    left: 995px;
    top: 293px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #DB4F54;
    a {
      color: #DB4F54;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text6 {
    position: absolute;
    width: 895px;
    height: 280px;
    left: 995px;
    top: 395px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    a {
      color: #FFFFFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text7 {
    position: absolute;
    width: 895px;
    height: 60px;
    left: 995px;
    top: 681px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    a {
      color: #FFFFFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text8 {
    position: absolute;
    width: 895px;
    height: 140px;
    left: 995px;
    top: 766px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    a {
      color: #FFFFFF;

      &:hover {
        text-decoration: underline;
      }
    }    
  }

  .text9 {
    position: absolute;
    width: 895px;
    height: 100px;
    left: 995px;
    top: 911px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    a {
      color: #FFFFFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text10 {
    position: absolute;
    width: 87px;
    height: 400px;
    left: 995px;
    top: 1011px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    a {
      color: #FFFFFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .imagePlayButton {
    position: absolute;
    width: 308px;
    height: 308px;
    left: 585px;
    top: 31px;

    img {
      width: 100%;
      height: 100%;
    }

    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(1.05);
    }
  }
}
