@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: black;

  .background {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .image1 {
    position: absolute;
    width: 337px;
    height: 506px;
    left: 36px;
    top: 591px;    
  }

  .image2 {
    position: absolute;
    width: 348px;
    height: 345px;
    left: 387px;
    top: 591px;
  }

  .image3 {
    position: absolute;
    width: 337px;
    height: 337px;
    left: 36px;
    top: 1107px;
  }

  .image4 {
    position: absolute;
    width: 348px;
    height: 342px;
    left: 387px;
    top: 947px;
  }

  .image5 {
    position: absolute;
    width: 409px;
    height: 409px;
    left: 1028px;
    top: 66px;
  }

  .image6 {
    position: absolute;
    width: 436px;
    height: 291px;
    left: 1422px;
    top: 48px;    
  }

  .image7 {
    position: absolute;
    width: 304px;
    height: 304px;
    left: 994px;
    top: 531px;
  }

  .image8 {
    position: absolute;
    width: 249px;
    height: 249px;
    left: 1257px;
    top: 432px;
  }

  .image9 {
    position: absolute;
    width: 402px;
    height: 604px;
    left: 1470px;
    top: 354px;
  }

  .image10 {
    position: absolute;
    width: 371px;
    height: 495px;
    left: 994px;
    top: 859px;
  }

  .image11 {
    position: absolute;
    width: 260px;
    height: 304px;
    left: 1290px;
    top: 748px;    
  }

  .image12 {
    position: absolute;
    width: 329px;
    height: 329px;
    left: 1566px;
    top: 942px;
  }

  .image13 {
    position: absolute;
    width: 284px;
    height: 381px;
    left: 1328px;
    top: 1087px;
  }

  .image14 {
    position: absolute;
    width: 198px;
    height: 198px;
    left: 1697px;
    top: 1277px;
  }

  .rect1 {
    position: absolute;
    width: 61px;
    height: 861px;
    left: 760px;
    top: 591px;
    
    background: #F3A93C;    
  }

  .rect2 {
    position: absolute;
    width: 532px;
    height: 39px;
    left: 387px;
    top: 1315px;
    
    background: #FFB3E2;
  }

  .rect3 {
    position: absolute;
    width: 532px;
    height: 39px;
    left: 387px;
    top: 1365px;
    
    background: #4053A0;
  }

  .rect4 {
    position: absolute;
    width: 532px;
    height: 39px;
    left: 387px;
    top: 1415px;
    
    background: #FFB3E2;
  }

  .rect5 {
    position: absolute;
    width: 61px;
    height: 861px;
    left: 846px;
    top: 591px;
    
    background: #F95BE9;
  }

  .video1 {
    position: absolute;
    width: 828px;
    height: 420px;
    left: 36px;
    top: 30px;
    border: 4px solid #FFF614;    
  }

  .text1 {
    position: absolute;
    width: 785px;
    height: 112px;
    left: 36px;
    top: 423px;
    
    font-family: Averia Libre;
    font-size: 60px;
    line-height: 110%;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    -webkit-text-stroke: 3px #20A1FF;
    // text-shadow: -5px -5px #20A1FF, -5px 5px #20A1FF, 5px -5px #20A1FF, 5px 5px #20A1FF;
  }

  .gradient {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #9c9c9c;
    background: linear-gradient(to right, #9c9c9c 8%, #f4f4f4 38%, #9c9c9c 54%);
    background-size: 1000px 640px;
  }

  @keyframes placeHolderShimmer{
    0%{
      background-position: -468px 0
    }
    100%{
      background-position: 468px 0
    }
  }
}
