@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  position: relative;

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0;
    top: 0;
  }

  .text1 {
    position: absolute;
    width: 807px;
    height: 208px;
    left: 71px;
    top: 1122px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    color: #000000;    
  }

  .text2 {
    position: absolute;
    width: 652px;
    height: 1156px;
    left: 1128px;
    top: 77px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 120.53%;
    color: #000000;    
  }
}