@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #000000;

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .rect1 {
    position: absolute;
    width: 743px;
    height: 1244px;
    left: 112px;
    top: 125px;
    
    background: rgba(0, 0, 0, 0.81);    
  }

  .rect2 {
    position: absolute;
    width: 743px;
    height: 427px;
    left: 1068px;
    top: 126px;
    
    background: rgba(0, 0, 0, 0.81);
  }
}
