@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: -7px;
    
    background: black;
  }

  .video1 {
    position: absolute;
    width: 858px;
    height: 871.25px;
    left: 21px;
    top: -369px;
  }

  .image1 {
    position: absolute;
    width: 262px;
    height: 1640px;
    left: -48px;
    top: -2px;
  }

  .text1 {
    position: absolute;
    width: 56px;
    height: 709px;
    left: 292px;
    top: 835px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 100%;
    /* or 80px */

    color: #00FFA3;
    word-break: break-all;

    -webkit-text-stroke: 3px #00FFA3;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(2px);
  }

  .text2 {
    position: absolute;
    width: 718px;
    height: 185px;
    left: 389px;
    top: 1464px;

    font-family: THIS FONT IS EMPTY1;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 100%;
    color: #ffffff;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  a {
    transition: 0.3s all;
    &:hover {
      transition: 0.3s all;
      transform: scale(0.9);
    }
  }

  .image2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0;
  }

  .image3 {
    position: absolute;
    width: 881px;
    height: 997px;
    left: 559px;
    top: 502px;    
  }

  .image4 {
    position: absolute;
    width: 393px;
    height: 260px;
    left: 1498px;
    top: 135px;
    padding: 7px;
    overflow: hidden;
  }

  .rect2 {
    position: absolute;
    width: 476px;
    height: 353px;
    left: 996px;
    top: 135px;
    
    background: #B9D15A;
  }

  .rect3 {
    position: absolute;
    width: 393px;
    height: 267px;
    left: 1498px;
    top: 135px;
    background: #B9D15A;
  }

  .rect4 {
    position: absolute;
    width: 392px;
    height: 940px;
    left: 1498px;
    top: 425px;
    
    background: #B9D15A;
  }

  .text3 {
    position: absolute;
    width: 942px;
    height: 112px;
    left: 964px;
    top: 0px;
    
    font-family: Averia Libre;
    font-size: 120px;
    line-height: 110%;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    -webkit-text-stroke: 5px #FF1212;
  }

  .text4 {
    position: absolute;
    width: 438px;
    height: 341px;
    left: 1019px;
    top: 150px;
    
    font-family: Cherry Bomb;
    font-size: 20px;
    line-height: 100%;
    color: #FF0000;
  }

  .text5 {
    position: absolute;
    width: 346px;
    height: 899px;
    left: 1521px;
    top: 448px;
    
    font-family: Cherry Bomb;
    font-size: 20px;
    line-height: 100%;
    color: #FF0000;
  }
}
