@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  display: flex;
  position: relative;
  color: #FFFFFF;
  background-color: #000000;

  .circle1 {
    position: absolute;
    width: 616px;
    height: 616px;
    left: -250px;
    top: 693px;
    border-radius: 50%;
    background: #E85B59;    
  }

  .circle2 {
    position: absolute;
    width: 258px;
    height: 258px;
    left: 237px;
    top: 1309px;
    border-radius: 50%;
    background: #31B5FF;
  }

  .circle3 {
    position: absolute;
    width: 164px;
    height: 164px;
    left: 1693px;
    top: 130px;
    border-radius: 50%;
    background: #E85B59;
  }

  .text1 {
    position: absolute;
    width: 1613px;
    height: 468px;
    left: 63px;
    top: 76px;
    
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100%;

    color: #FFFFFF;        
  }

  .text2 {
    position: absolute;
    width: 1613px;
    height: 468px;
    left: 63px;
    top: 212px;
    
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 1613px;
    height: 468px;
    left: 63px;
    top: 310px;
    
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;

    color: #FFFFFF;
  }

  .text4 {
    position: absolute;
    width: 226px;
    height: 24px;
    left: 1650px;
    top: 52px;
    
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .text5 {
    position: absolute;
    width: 1613px;
    height: 468px;
    left: 1789px;
    top: 1463px;
    
    font-family: 'Ballet';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 100%;
    color: #FFFFFF;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  .text6 {
    position: absolute;
    width: 357px;
    height: 1008px;
    left: 471px;
    top: 238px;
    
    font-family: Gluten;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120.53%;
    
    color: #FFFFFF;        
  }

  .text7 {
    position: absolute;
    width: 357px;
    height: 1044px;
    left: 1170px;
    top: 238px;
    
    font-family: Gluten;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120.53%;
    color: #FFFFFF;    
  }

  .rect1 {
    position: absolute;
    width: 22px;
    height: 1817.08px;
    left: 960px;
    top: -31px;
    
    background: #E85B59;    
  }
}
