@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background: #000000;
  color: white;

  .imageBackground1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .imageBackground2 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 844.5px;
    height: 1497px;
    left: 0px;
    top: 0px;    
  }

  .image2 {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 1190px;
    top: 999px;        
  }

  .image3 {
    position: absolute;
    width: 570px;
    height: 570px;
    left: 1350px;
    top: 1034px;
  }

  .image4 {
    position: absolute;
    width: 542px;
    height: 419px;
    left: 1364px;
    top: 900px;
  }

  .text1 {
    position: absolute;
    width: 523px;
    height: 128px;
    left: 219px;
    top: 935px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: right;
    
    color: #FFFFFF;
    -webkit-text-stroke: 3px #FFFFFF;
  }

  .text2 {
    position: absolute;
    width: 829px;
    height: 841px;
    left: 1026px;
    top: 59px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    
    color: #810909;
    -webkit-text-stroke: 0.4px #FF0A11;
  }
}