@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #000000;
  color: #FFFFFF;

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
  }

  .image1 {
    position: absolute;
    width: 327px;
    height: 327px;
    left: 73px;
    top: 566px;    
  }

  .image2 {
    position: absolute;
    width: 327px;
    height: 327px;
    left: 503px;
    top: 585px;
  }

  .image3 {
    position: absolute;
    width: 327px;
    height: 327px;
    left: 73px;
    top: 986px;
  }

  .image4 {
    position: absolute;
    width: 327px;
    height: 327px;
    left: 521px;
    top: 1042px;
  }

  .image5 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1040px;
    top: 396px;        
  }

  .image6 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1358px;
    top: 649px;
  }

  .image7 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1647px;
    top: 457px;
  }

  .image8 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1102px;
    top: 974px;
  }

  .image9 {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1596px;
    top: 1073px;
  }

  a {
    transition: 0.3s all;
    
    &:hover {
      transition: 0.3s all;
      transform: scale(1.1);
    }
  }

  .text1 {
    position: absolute;
    width: 676px;
    height: 80px;
    left: 226px;
    top: 40px;
    
    font-family: Knife Princess;
    font-size: 80px;
    line-height: 100%;
    text-align: right;
  }

  .text2 {
    position: absolute;
    width: 230px;
    height: 26px;
    left: 73px;
    top: 143px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text3 {
    position: absolute;
    width: 814px;
    height: 299px;
    left: 73px;
    top: 174px;
    
    font-family: Basic;
    font-size: 20px;
    line-height: 110%;
  }

  .text4 {
    position: absolute;
    width: 291px;
    height: 24px;
    left: 73px;
    top: 506px;
    
    font-family: Courier Prime;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
  }

  .text5 {
    position: absolute;
    width: 358px;
    height: 22px;
    left: 73px;
    top: 534px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%; 
  }

  .text6 {
    position: absolute;
    width: 227px;
    height: 24px;
    left: 503px;
    top: 523px;

    font-family: Courier Prime;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
  }

  .text7 {
    position: absolute;
    width: 384px;
    height: 22px;
    left: 503px;
    top: 552px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
  }

  .text8 {
    position: absolute;
    width: 282px;
    height: 24px;
    left: 73px;
    top: 930px;
    
    font-family: Courier Prime;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
  }

  .text9 {
    position: absolute;
    width: 379px;
    height: 22px;
    left: 73px;
    top: 958px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
  }

  .text10 {
    position: absolute;
    width: 252px;
    height: 24px;
    left: 521px;
    top: 980px;
    
    font-family: Courier Prime;
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
  }

  .text11 {
    position: absolute;
    width: 325px;
    height: 22px;
    left: 521px;
    top: 1008px;
    
    font-family: Courier Prime;
    font-size: 20px;
    line-height: 110%;
  }

  .text12 {
    position: absolute;
    width: 604px;
    height: 240px;
    left: 1137px;
    top: 28px;
    
    font-family: Trocchi;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text13 {
    position: absolute;
    width: 604px;
    height: 240px;
    left: 1137px;
    top: 32px;
    
    font-family: Trocchi;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text14 {
    position: absolute;
    width: 604px;
    height: 240px;
    left: 1137px;
    top: 35px;
    
    font-family: Trocchi;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text15 {
    position: absolute;
    width: 604px;
    height: 25px;
    left: 1137px;
    top: 292px;
    
    font-family: Trocchi;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);    
  }

  .text16 {
    position: absolute;
    width: 327px;
    height: 24px;
    left: 986px;
    top: 625px;
    
    font-family: Trocchi;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text17 {
    position: absolute;
    width: 327px;
    height: 24px;
    left: 1304px;
    top: 888px;
    
    font-family: Trocchi;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text18 {

    position: absolute;
    width: 327px;
    height: 24px;
    left: 1593px;
    top: 690px;
    
    font-family: Trocchi;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text19 {
    position: absolute;
    width: 327px;
    height: 24px;
    left: 1048px;
    top: 1194px;
    
    font-family: Trocchi;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text20 {
    position: absolute;
    width: 327px;
    height: 24px;
    left: 1543px;
    top: 1301px;
    
    font-family: Trocchi;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
