@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();

  .imageBackground {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }

  .rect1 {
    position: absolute;
    width: 1920px;
    height: 1497px;
    left: 0px;
    top: 0px;
    
    background: rgba(55, 0, 0, 0.65);
  }

  .text1 {
    position: absolute;
    width: 667px;
    height: 90px;
    left: 144px;
    top: 115px;
    
    font-family: Reem Kufi;
    font-size: 45px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -3px 3px #000000, -3px -3px #000000, 3px -3px #000000, 3px 3px #000000;
  }

  .text2 {
    position: absolute;
    width: 670px;
    height: 1075px;
    left: 1100px;
    top: 194px;
    
    font-family: Risque;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    
    color: #FFFFFF;    
  }
}
