@import './styles.module.scss';

.wrapper {
  @include magazineWrapper(); 
  background: black;

  .imageBackground {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 960px;
    top: 0px;
  }

  .rect1 {
    position: absolute;
    width: 960px;
    height: 1497px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #FF2E2E 0%, #4AFFF6 46.88%, #FEC1F2 84.37%);    
  }
}
