@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  background-color: #FFFFFF;
  color: #FFFFFF;

  .rect1 {
    position: absolute;
    width: 86px;
    height: 1665px;
    left: 917px;
    top: -140px;
    
    background: #FFE600;    
  }

  .image1 {
    position: absolute;
    width: 1920px;
    height: 1178px;
    left: 0px;
    top: 104px;    
  }

  .image2 {
    position: absolute;
    width: 807px;
    height: 1497px;
    left: 556px;
    top: 0px;    
  }
}