@import './styles.module.scss';

.wrapper {
  @include magazineWrapper();
  color: white;
  display: flex;
  position: relative;
  background: black;

  .imageBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1497px;
  }

  .text1 {
    position: absolute;
    width: 276px;
    height: 80px;
    left: 1611px;
    top: 42px;
    
    font-family: Raleway Dots;
    font-style: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    
    
    color: #FFFFFF;    
  }

  .text2 {
    position: absolute;
    width: 276px;
    height: 80px;
    left: 55px;
    top: 1377px;
    
    font-family: Raleway Dots;
    font-style: normal;
    font-size: 80px;
    line-height: 100%;
    /* identical to box height, or 80px */
    
    
    color: #FFFFFF;
  }

  a {
    
  }

  .image1 {
    position: absolute;
    width: 936px;
    height: 134px;
    left: 16px;
    top: 15px;

    transition: 0.3s all;
    &:hover {
      transform: scale(0.9);
      transition: 0.3s all;
    }
  }

  .image2 {
    position: absolute;
    width: 936px;
    height: 134px;
    left: 976px;
    top: 1350px;

    transition: 0.3s all;
    &:hover {
      transform: scale(0.9);
      transition: 0.3s all;
    }
  }
}